<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="css/aboutUs.css">
    <link rel="icon" href="img/isotipo-white.ico">
    
    
</head>
<body>
    <div class="bolita1"></div>
    <div class="bolita2"></div>
    
    <nav>

        <div class="top-nav">

            <div class="top-left">

                <div class="hamburguer-icon">
                    <i class="fas fa-bars" id="hamburguer-icon"></i>
                </div>
                
                <div class="nav-logo">
                    <img src="img/logo-titanGames.png"  alt="Titan Games Logo">
                </div>
                
                <p>Tienda</p>
                <p>Ofertas</p>

            </div> 

            <div class="top-right">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-user-circle"></i>
            </div>

        </div>

        <div class="hamburguer slide-right" id="hamburguer">

            <div class="username">
                <i class="fas fa-user-circle"></i><h3>Username</h3>
            </div>
            <hr>
            <div class="store">
                <h3>Tienda</h3><i class="fas fa-caret-down"></i>
            </div>
            <hr>
            <div class="about">
                <h3>Sobre nosotros</h3><i class="fas fa-caret-down"></i>
            </div>
            <hr>

            <div class="hamburguer-logo">
                <img src="img/logo.png"  alt="Titan Games Logo">
            </div>             

        </div>

    </nav>

    <!-- SOBRE NOSOTROS -->

    <div class="in-process">
        <h1>EN PROCESO...</h1>
        <img src="https://i.pinimg.com/originals/ea/aa/be/eaaabefeedf074037978ac193154cf7e.gif" alt="">
    </div>

    <!-- SOBRE NOSOTROS -->

    <footer> 
        <div class="logo-footer">
            <img src="/img/logo.png" alt="logo">
        </div>
        <div class="box-footer-social">
            <p>SEGUINOS</p>
            <div class="social">
                <a href="https://www.instagram.com/_titan_games_/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Titan-Games-markteplace-109552258094094" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitch.tv/titangamesmarket" target="_blank"><i class="fab fa-twitch"></i></a>
                <a href="https://twitter.com/_Titan_Games_" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="box-info">
            <i class="fas fa-shield-alt"></i>
            <ul>
                <li><a href="http://localhost:3000/privacyPolitics" target="_blank">Políticas de Privacidad</a></li>
                <li><a href="http://localhost:3000/about">Acerca de</a></li>
                <li><a href="mailto:titanGames@correo.com">Contactanos</a></li>
            </ul> 
        </div>
    </footer>
</body>
</html>