<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan Games</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/footer.css">
</head>
<body>
    <footer>
        <div class="container-footer">
            <div class="logo">
                <img src="/design/Logos/logo.png" alt="logo">
            </div>

            <div class="box-footer-social">
                <p>SEGUINOS!</p>
                <div class="social">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitch"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
                
            </div>

            <div class="box-info">
                <i class="fas fa-shield-alt"></i>  
                <ul>
                    <li><a href="">Políticas de Privacidad</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Contactanos</a></li>
                </ul> 
            </div>
        </div>
        <div class="copy">
            <p>Derechos reservados &copy; 2021 <b>TitanGames</b></p>
        </div>
    </footer>
</body>
</html>