<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan Games</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="img/isotipo-white.ico">
    <script src="https://kit.fontawesome.com/f0097a676d.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="bolita1"></div>
    <div class="bolita2"></div>

    <!-- Registro Popup -->

    <div class="register-card" id="register-card">
        <span class="close" id="close">x</span>
        <div class="register-container">
            <div class="form-container">
                <img src="/img/logo.png" alt="logotipo" class="logo-register">
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su usuario">
                    <span class="error-message">Debe ingresar su usuario</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                <div class="button-container">
                    <span class="error-message">Credenciales inválidas</span>
                    <button type="submit" class="submit-register">Registrarse</button>
                </div>
                <div class="redirect-register">
                    <span><h5>¿tienes una cuenta?</h5></span>
                </div>
            </div>
        </div>
    </div>


    <!-- Login Popup -->

    <div class="form_container" id="login-card">
        <div class="card">
            <span class="close" id="close">x</span>
            <div class="content">
                <img src="img/logo.png" alt="logotipo" class="logo-login">
                <form>
                    <div class="form">
                        <div class="input-container">
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                            <span class="error-message">Debe ingresar su email</span>
                        </div>
                        <div class="input-container">
                            <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                            <span class="error-message">Debe ingresar su contraseña</span>
                        </div>
                        <div class="check">
                            <label class="recordar" for="recordar">Recordarme</label>
                            <input type="checkbox" name="recordar" id="recordar">
                        </div>
                        <div class="button-container">
                            <span class="error-message">Credenciales inválidas</span>
                            <button type="submit" class="submit-login">Ingresar</button>
                        </div>
                        <div class="last-text">
                            <span>
                                <h5>¿Olvidaste tu contraseña?</h5>
                            </span>
                            <span id="create-account">Aún no tengo cuenta</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav>

        <div class="top-nav">

            <div class="top-left">

                <div class="hamburguer-icon">
                    <i class="fas fa-bars" id="hamburguer-icon"></i>
                </div>

                <div class="nav-logo">
                    <a href="http://localhost:3000/"><img src="img/logo.png" alt="Titan Games Logo"></a>
                </div>

                <div class="store-dropdown">
                    <p>Tienda</p>
                    <div class="dropdown-content">
                        <p>Ofertas</p>
                        <p>Mas vendido</p>
                    </div>
                </div>

            </div>

            <div class="top-right">

                <a href="http://localhost:3000/search">
                    <i class="fas fa-search"></i>
                </a>

                <a href="http://localhost:3000/productCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="notificacion-dropdown">
                    <i class="fas fa-bell"></i>
                    <div class="dropdown-content-notificacion">
                        <p>No tienes notificaciones nuevas</p>
                    </div>
                </div>

                <i class="fas fa-user-circle" id="user-icon"></i>

            </div>

        </div>

        <div class="hamburguer slide-right" id="hamburguer">

            <div class="username">
                <i class="fas fa-user-circle"></i>
                <h3>Username</h3>
                <span class="close" id="close">x</span>
            </div>
            <hr>



            <div class="store-hamburguer">
                <div class="store-hamburguer-main">
                    <h3>Tienda</h3><i class="fas fa-caret-down"></i>
                </div>
                <div class="store-hamburguer-dropdown">
                    <p>Ofertas</p>
                    <p>Mas vendido</p>
                </div>
            </div>
            <hr>

            <div class="hamburguer-logo">
                <img src="img/logo.png" alt="Titan Games Logo">
            </div>

        </div>

    </nav>

    <main id="main">

        <div class="img-evento">
            <img src="img/event.png" alt="Image of current event">
        </div>

        <div class="separator">
            <h4>Destacados</h4>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" class="d-block w-100" alt="Ni no kuni 2">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" class="d-block w-100" alt="Ni no kuni 2">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" class="d-block w-100" alt="Ni no kuni 2">
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="separator">
            <h4>Ofertas Especiales</h4>
        </div>

        <div class="special-offer">

            <div class="special-offer-game">

                <a href="http://localhost:3000/productDetail">
                    <img src="img/cyberpunk.jpg" alt="">
                </a>

                <div class="special-offer-details">
                    <p>Nombre del juego</p>
                    <p>-85%</p>
                </div>

            </div>

            <div class="special-offer-game">

                <a href="http://localhost:3000/productDetail">
                    <img src="img/cyberpunk.jpg" alt="">
                </a>

                <div class="special-offer-details">
                    <p>Nombre del juego</p>
                    <p>-85%</p>
                </div>

            </div>

            <div class="special-offer-game">

                <a href="http://localhost:3000/productDetail">
                    <img src="img/cyberpunk.jpg" alt="">
                </a>

                <div class="special-offer-details">
                    <p>Nombre del juego</p>
                    <p>-85%</p>
                </div>

            </div>

            <div class="special-offer-game">

                <a href="http://localhost:3000/productDetail">
                    <img src="img/cyberpunk.jpg" alt="">
                </a>

                <div class="special-offer-details">
                    <p>Nombre del juego</p>
                    <p>-85%</p>
                </div>

            </div>

        </div>

        <div class="see-more-button">
            <button class="see-more">Ver más</button>
        </div>

        <div class="discover">

            <!-- 
            166-219 section1
            221-274 section2
            276-329 section3
            -->

            <div class="categories">
                <p id="active">Descubrir juegos</p>
                <p id="active2">Lo mas vendido</p>
                <p id="active3">Lo nuevo</p>
            </div>

            <section class="games" id="discover-games">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>

            </section>

            <section class="games" id="top-sales">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/cyberpunk.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>

            </section>

            <section class="games" id="newest">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/cyberpunk.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/cyberpunk.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">
                        <img src="img/cyberpunk.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>

            </section>

            <div class="game see-more-d">
                <a href="http://localhost:3000/search"><button>Ver más</button></a>
            </div>

        </div>

        </div>

    </main>

    <footer>
        <div class="logo-footer">
            <img src="/img/logo.png" alt="logo">
        </div>
        <div class="box-footer-social">
            <p>SEGUINOS</p>
            <div class="social">
                <a href="https://www.instagram.com/_titan_games_/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Titan-Games-markteplace-109552258094094" target="_blank"><i
                        class="fab fa-facebook"></i></a>
                <a href="https://www.twitch.tv/titangamesmarket" target="_blank"><i class="fab fa-twitch"></i></a>
                <a href="https://twitter.com/_Titan_Games_" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="box-info">
            <i class="fas fa-shield-alt"></i>
            <ul>
                <li><a href="http://localhost:3000/privacyPolitics" target="_blank">Políticas de Privacidad</a></li>
                <li><a href="http://localhost:3000/about" target="_blank">Acerca de</a></li>
                <li><a href="mailto:titanGames@correo.com">Contactanos</a></li>
            </ul>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>

</html>