<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>
<body>
    <div class="form_container">
    <div class="card">
        <span class="close">x</span>
    <div class="content">
    <img src="img/logo.png" alt="logotipo" class="logo-login">
    <form class="" action="" method="">
        <div class="form">
            <div class="input-container">
                <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                <span class="error-message">Debe ingresar su email</span>
            </div>
            <div class="input-container">
                <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                <span class="error-message">Debe ingresar su contraseña</span>
            </div>
            <div class="check">
                <label class="recordar" for="recordar">Recordarme</label>
                <input type="checkbox" name="recordar" id="recordar"> 
            </div>
            <div class="button-container">
                <span class="error-message">Credenciales inválidas</span>
                <button type="submit" class="submit-login">Ingresar</button>
            </div>
            <div class="links">
            <span><a href="">¿Olvidaste tu contraseña?</a></span>
            <span id="create-account"><p>Aún no tengo cuenta</p></span>
          </div>
        </div>

    </form> 
                    </div>
            </div>
    </div>
</body>
</html>