<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="css/productDetail.css">
    <link rel="icon" href="img/isotipo-white.ico">
    <script src="https://kit.fontawesome.com/f0097a676d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bolita1"></div>
    <div class="bolita2"></div>
    
    <div class="register-card" id="register-card">
        <span class="close" id="close">x</span>
        <div class="register-container">
            <img src="/img/logo.png" alt="logotipo" class="logo-register">
            <div class="form-container">
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su usuario">
                    <span class="error-message">Debe ingresar su usuario</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                <div class="button-container">
                    <span class="error-message">Credenciales inválidas</span>
                    <button type="submit" class="submit">Registrarse</button>
                </div class="links">
                <span><a href="localhost:3000/login">¿tienes una cuenta?</a></span>
                <div>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Login Popup -->

    <div class="form_container" id="login-card">
        <div class="card">
            <span class="close" id="close">x</span>
            <div class="content">
                <img src="img/logo.png" alt="logotipo" class="logo-login">
                <form class="" action="" method="">
                    <div class="form">
                        <div class="input-container">
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                            <span class="error-message">Debe ingresar su email</span>
                        </div>
                        <div class="input-container">
                            <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                            <span class="error-message">Debe ingresar su contraseña</span>
                        </div>
                        <div class="check">
                            <label class="recordar" for="recordar">Recordarme</label>
                            <input type="checkbox" name="recordar" id="recordar">
                        </div>
                        <div class="button-container">
                            <span class="error-message">Credenciales inválidas</span>
                            <button type="submit" class="submit">Ingresar</button>
                        </div class="links">
                        <span><a href="">¿Olvidaste tu contraseña?</a></span>
                        <span id="create-account"><p>Aún no tengo cuenta</p></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav>

        <div class="top-nav">

            <div class="top-left">

                <div class="hamburguer-icon">
                    <i class="fas fa-bars" id="hamburguer-icon"></i>
                </div>

                <div class="nav-logo">
                    <a href="http://localhost:3000/"><img src="img/logo.png" alt="Titan Games Logo"></a>
                </div>

                <div class="store-dropdown">
                    <p>Tienda</p>
                    <div class="dropdown-content">
                        <p>Ofertas</p>
                        <p>Mas vendido</p>
                    </div>
                </div>

            </div>

            <div class="top-right">

                <i class="fas fa-search"></i>

                <a href="http://localhost:3000/productCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="notificacion-dropdown">
                    <i class="fas fa-bell"></i>
                    <div class="dropdown-content-notificacion">
                        <p>No tienes notificaciones nuevas</p>
                    </div>
                </div>

                <i class="fas fa-user-circle" id="user-icon"></i>

            </div>

        </div>

        <div class="hamburguer slide-right" id="hamburguer">

            <div class="username">
                <i class="fas fa-user-circle"></i>
                <h3>Username</h3>
                <span class="close" id="close">x</span>
            </div>
            <hr>

            

            <div class="store-hamburguer">
                <div class="store-hamburguer-main">
                    <h3>Tienda</h3><i class="fas fa-caret-down"></i>
                </div>
                <div class="store-hamburguer-dropdown">
                    <p>Ofertas</p>
                    <p>Mas vendido</p>
                </div>
            </div>
            <hr>

            <div class="hamburguer-logo">
                <img src="img/logo.png" alt="Titan Games Logo">
            </div>

        </div>

    </nav>

    <!--ACÁ EMPIEZA LA ESTRUCTURA DEL DETALLE DEL PRODUCTO-->
    
    <main>
        <div class="principal-container">
            <div class="title-product">
                
                 <!--SLIDER-->
                 <div class="container">
                    <h3>The Witcher 3: Wild Hunt</h4>

                    <div class="mySlides">
                      <img src="img/1.png" style="width:100%">
                    </div>
                  
                    <div class="mySlides">
                      <img src="img/2.png" style="width:100%">
                    </div>
                  
                    <div class="mySlides">
                      <img src="img/3.png" style="width:100%">
                    </div>
                      
                    <div class="mySlides">
                      <img src="img/4.png" style="width:100%">
                    </div>

                    <div class="mySlides">
                        <img src="img/5.png" style="width:100%">
                    </div>
                  
                      
                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>
                  
                    <div class="caption-container">
                      <p id="caption"></p>
                    </div>
                  
                    <div class="row">
                      <div class="column">
                        <img class="demo cursor" src="img/1.png" style="width:100%" onclick="currentSlide(1)" alt="theWitcherImg">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="img/2.png" style="width:100%" onclick="currentSlide(2)" alt="theWitcherImg">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="img/3.png" style="width:100%" onclick="currentSlide(3)" alt="theWitcherImg">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="img/4.png" style="width:100%" onclick="currentSlide(4)" alt="theWitcherImg">
                      </div>
                      <div class="column">
                        <img class="demo cursor" src="img/5.png" style="width:100%" onclick="currentSlide(5)" alt="theWitcherImg">
                      </div>
                    </div>
                  </div>
            </div>
            <!-- TERMINA SLIDER-->
            <div class="buy-product">
                <p id="offer">-90%</p>
                <p>$1999.99</p>
                <div class="button-container">
                    <button type="submit" class="btn btn-submit">Añadir al carrito <i class="fas fa-cart-plus"></i></button>
                </div>
            </div>
        </div>

        <!--Descripción del juego-->
        <div class="info-container">
            <div>
                <div class="img-prod-descrp">
                    <img src="/img/thewitcher-portada.png" alt="">
                    <a href="#" onclick="toggle();" >Mirar Trailer</a>
                    <div class="trailer">
                        <iframe height="200px" src="https://www.youtube.com/embed/c0i88t0Kacs?start=15" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <img src="/img/close.png" class="close" onclick="toggle();">
                    </div>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nihil non, numquam sunt assumenda repellendus autem id ullam quod obcaecati deserunt ipsam eligendi dignissimos! Explicabo, repellat minima consequatur eaque cumque tempore a id alias molestiae accusamus. Corrupti similique iste ratione?</p>
                </div>
            </div>
            <div class="specs-product">
    
                <div>
                    <h4>Especificaciones técnicas mínimas</h4>
                <hr>
                <ul>
                    <li>Placa 9999ti rtx</li>
                    <li>Procesador I80000</li>
                    <li>Ram 999999gb</li>
                </ul>
                </div>
    
                <div>
                    <h4>Especificaciones técnicas Recomendadas</h4>
                <hr>
                <ul>
                    <li>Ram 999999gb</li>
                    <li>Procesador I80000</li>
                    <li>Placa 9999ti rtx</li>
                </ul>
                </div>
            </div>
        </div>    
    </main>
    
    <section>
        <h5>Puede que te interese</h5>
        <div class ="interest-container">
            <div class="card-container">
                <div class="imgBx">
                    <a href="#"><img src="/img/naraka.png" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>Naraka:Bladepoint<br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>
                               
            </div>

            <div class="card-container">
                <div class="imgBx">
                    <a href="#"><img src="/img/kunismall.png" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>Ni no Kuni II <br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>             
            </div>   
            
            <div class="card-container">
                <div class="imgBx">
                    <a href="#"><img src="/img/gta.png" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>gta<br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>            
            </div> 

            <div class="card-container">
                <div class="imgBx">
                    <a href="#"><img src="/img/fall.jpg" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>Fall Guys<br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>               
            </div> 
        </div>       
    </section>

    <footer> 
        <div class="logo-footer">
            <img src="/img/logo.png" alt="logo">
        </div>
        <div class="box-footer-social">
            <p>SEGUINOS</p>
            <div class="social">
                <a href="https://www.instagram.com/_titan_games_/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Titan-Games-markteplace-109552258094094" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitch.tv/titangamesmarket" target="_blank"><i class="fab fa-twitch"></i></a>
                <a href="https://twitter.com/_Titan_Games_" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="box-info">
            <i class="fas fa-shield-alt"></i>
            <ul>
                <li><a href="http://localhost:3000/privacyPolitics" target="_blank">Políticas de Privacidad</a></li>
                <li><a href="http://localhost:3000/about" target="_blank">Acerca de</a></li>
                <li><a href="mailto:titanGames@correo.com">Contactanos</a></li>
            </ul> 
        </div>
    </footer>
    
    <script src="js/index.js"></script>
    <script src="js/productDetail.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>