<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="css/productDetail.css">
</head>
<body>
    <div class="bolita1"></div>
    <div class="bolita2"></div>
    <div class="bolita3"></div>
    <nav>   
        <div class="top-nav">
            <div class="top-left">
                <i class="fas fa-bars"></i>
            </div> 
            <div class="top-right">
                <i class="fas fa-search"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>

        <div class="hamburguer">

            <div class="username">
                <i class="fas fa-user-circle"></i><h3>Username</h3>
            </div>
            <hr>
            <div class="store">
                <h3>Tienda</h3><i class="fas fa-caret-down"></i>
            </div>
            <hr>
            <div class="about">
                <h3>Sobre nosotros</h3><i class="fas fa-caret-down"></i>
            </div>
            <hr>

            <div class="hamburguer-logo">
                <img src="img/logo-titanGames.png"  alt="Titan Games Logo">
            </div>            

        </div>

    </nav>
    <main>
        <div class="row">
            <div class="main">
                <h2>The Witcher 3: Wild Hunt</h2>
                <div class="img-product">
                    <img src="img/thewitcher-portada.png" alt="">
                </div>

                <div class="img-container-group">
                    <div class="img-ind-group"><img width="100px" src="img/img1.jpg" alt=""></div>
                    <div class="img-ind-group"><img width="100px" src="img/img2.jpg" alt=""></div>
                    <div class="img-ind-group"><img width="100px" src="img/img3.jpg" alt=""></div>
                    <div class="img-ind-group"><img width="100px" src="img/img4.jpg" alt=""></div>
                </div>
                <div class="box-for-buy">
                    
                    <div class="buy">
                        <div class="desc">
                            <p>-90%</p>
                        </div>
                        <div class="price">
                            <p>$1999.99</p>
                        </div>
                        <div class="button-container">
                            <i class="fas fa-cart-plus"></i>
                            <button type="submit" class="btn btn-submit">Añadir al carrito</button>
                        </div>
                    </div>
                </div>

            </div>

            <aside>

                <div class="container-requeriments">
                    <div class="description-game-aside">
                        <div class="game-aside-img">
                            <img src="/img/The-Witcher-3-Cabecera.jpg" alt="">
                        </div>
                        <div>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci omnis iste exercitationem cupiditate error laudantium neque voluptatum, vel nulla dolorum delectus vero. Commodi iusto nostrum ut consequuntur, placeat saepe quidem natus quos labore eaque quam reiciendis sint praesentium, earum blanditiis.</p>
                        </div>
                    </div>
                    <h4>Especificaciones técnicas recomendadas:</h4>
                    <hr>
                    <ul>
                        <li>Placa 9999ti rtx como minimo</li>
                        <li>Procesador I80000 como minimo</li>
                        <li>Ram 999999gb como minimo</li>
                    </ul>
                    <br>
                    <h4>Especificaciones técnicas mínimas:</h4>
                    <hr>
                    <ul>
                        <li>Placa 9999ti rtx como minimo</li>
                        <li>Procesador I80000 como minimo</li>
                        <li>Ram 999999gb como minimo</li>
                    </ul>
                </div>
                
            </aside>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="logo">
                <img src="/design/Logos/logo-white.png" alt="logo">
            </div>

            <div class="box-footer-social">
                <p>SEGUINOS!</p>
                <div class="social">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-twitch"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
                
            </div>

            <div class="box-info">
                <i class="fas fa-shield-alt"></i>  
                <ul>
                    <li><a href="">Políticas de Privacidad</a></li>
                    <li><a href="">Acerca de</a></li>
                    <li><a href="">Contactanos</a></li>
                </ul> 
            </div>
        </div>
        <div class="copy">
            <p>Derechos reservados &copy; 2021 <b>TitanGames</b></p>
        </div>
    </footer>
</body>
</html>