<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="css/productCart.css">
</head>
<body>
    <div class="bolita1"></div>
    <div class="bolita2"></div>
    <nav>

        <div class="top-nav">

            <div class="top-left">

                <div class="hamburguer-icon">
                    <i class="fas fa-bars" id="hamburguer-icon"></i>
                </div>

                <div class="nav-logo">
                    <a href="http://localhost:3000/"><img src="img/logo.png" alt="Titan Games Logo"></a>
                </div>

                <div class="store-dropdown">
                    <p>Tienda</p>
                    <div class="dropdown-content">
                        <p>Ofertas</p>
                        <p>Mas vendido</p>
                    </div>
                </div>

            </div>

            <div class="top-right">

                <i class="fas fa-search"></i>

                <a href="http://localhost:3000/productCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="notificacion-dropdown">
                    <i class="fas fa-bell"></i>
                    <div class="dropdown-content-notificacion">
                        <p>No tienes notificaciones nuevas</p>
                    </div>
                </div>

                <i class="fas fa-user-circle" id="user-icon"></i>

            </div>

        </div>

        <div class="hamburguer slide-right" id="hamburguer">

            <div class="username">
                <i class="fas fa-user-circle"></i>
                <h3>Username</h3>
                <span class="close" id="close">x</span>
            </div>
            <hr>

            

            <div class="store">
                <h3>Tienda</h3><i class="fas fa-caret-down"></i>
            </div>
            <hr>

            <div class="hamburguer-logo">
                <img src="img/logo.png" alt="Titan Games Logo">
            </div>

        </div>

    </nav>
    
    <section>
        <h3 class="detalle-compra">Detalles de compra</h3>
        <div class="detail-cart">         
            <div class="game-cart">
                <img src="img/ni-no-kuni-2.jpg" alt="">
                <div class="price-flex">
                    <p>$1999.99</p>
                    <strong id="remove-all">eliminar</strong>
                </div>  
            </div>

            <div class="game-cart">
                <img src="img/gta.png" alt="">
                <div class="price-flex">
                    <p>$1999.99</p>
                    <strong id="remove-all">eliminar</strong>
                </div>  
            </div>
        </div>

        <div class="confirm-cart">
            <div class="total-cart">
                <p>Total estimado:</p>
                <div class="price-flex">
                    <p>$1999.99</p>
                    <strong id="remove-all">eliminar todo</strong>
                </div>          
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-submit">Comprar</button>
            </div>
        </div>

        <div class="interes">
            <h5>Puede que te interese</h5>
        </div>
        <div class="int-games">
            <div class="int-ind-games">
                <img src="img/batt.jpg" alt="">
            </div>
            <div class="int-ind-games">
                <img src="img/fall.jpg" alt="">
            </div>
            <div class="int-ind-games">
                <img src="img/thelast.png" alt="">
            </div>
        </div>
        <div class="button-container-int">
            <a href="http://localhost:3000/" target="_blank" ><button type="submit" class="btn int-btn-submit">Ver Más</button></a>
        </div>

    </section>
    
    <footer> 
        <div class="logo-footer">
            <img src="/img/logo.png" alt="logo">
        </div>
        <div class="box-footer-social">
            <p>SEGUINOS</p>
            <div class="social">
                <a href="https://www.instagram.com/_titan_games_/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Titan-Games-markteplace-109552258094094" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitch.tv/titangamesmarket" target="_blank"><i class="fab fa-twitch"></i></a>
                <a href="https://twitter.com/_Titan_Games_" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="box-info">
            <i class="fas fa-shield-alt"></i>
            <ul>
                <li><a href="http://localhost:3000/privacyPolitics" target="_blank">Políticas de Privacidad</a></li>
                <li><a href="http://localhost:3000/about" target="_blank">Acerca de</a></li>
                <li><a href="mailto:titanGames@correo.com">Contactanos</a></li>
            </ul> 
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>