<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <div class="register-card">
            <span class="close">x</span>
        <div class="register-container">
            <img src="/img/logo.png" alt="logotipo" class="logo-register">
            <div class="form-container">
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su usuario">
                    <span class="error-message">Debe ingresar su usuario</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                    <span class="error-message">Debe ingresar su email</span>
                </div>
                <div class="input-container">
                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                    <span class="error-message">Debe ingresar su contraseña</span>
                </div>
                <div class="button-container">
                    <span class="error-message">Credenciales inválidas</span>
                    <button type="submit" class="submit">Registrarse</button>
                </div class="links">
                <span><a href="http://localhost:3000/login">¿tienes una cuenta?</a></span>
            </div>
            <div>
                <hr>
            </div>
            </div>
        </div>
    </div>
</body>
</html>