main {
    min-height: 75vh;
    background-size: cover;
}

.userCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 75px;
}

.userCard {
    height: 35vh;
    width: 15vw;
    background-color: #0000004d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 5%;
}

.userCard p {
    text-align: center;
    color: white;
    font-weight: bold;
}

.userCard img {
    align-self: center;
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

select {
    text-align: center;
    align-self: center;
    width: 30%;
    padding: 5px;
}

option {
    text-align: left;
}

.sendDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.delete {
    background-color: red;
    border-radius: 5%;
    padding: 4px;
}

.send {
    background-color: green;
    border-radius: 5%;
    padding: 4px;
}