@import url('general.css');
@import url('scroll.css');

:root {
    --color-light: rgba(16, 17, 26, 0.18);
    --color-blue-light: #24354b;
    --color-blue-light-light: #3767a5;
    --color-blue-dark: #0b0d13;
}

/* ==**===**===**== ASIDE BAR ==**===**===**== */

aside .sidebar {
    position: absolute;
    height: 100%;
    width: 78px;
    background: var(--color-blue-dark);
    top: 0;
    left: 0;
    padding: 1rem 0.8rem;
    transition: all 0.5s ease;
    z-index: 1111;
}

aside .sidebar.active {
    width: 240px;
}

aside .sidebar .logo-content .logo img {
    width: 2rem;
    margin-right: 1rem;
}

aside .sidebar .logo-content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

aside .sidebar.active .logo-content .logo {
    opacity: 1;
    pointer-events: none;
}

aside .sidebar #btn {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 1.5rem;
    font-size: 1.5rem;
    height: 3.1px;
    width: 3.1px;
    text-align: center;
    line-height: 3.1px;
    transform: translateX(-50%);
}

aside .sidebar.active #btn {
    left: 90%;
}

aside .sidebar ul {
    margin-top: 20px;
    padding-left: 10px;
}

aside .sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5pxp;
    list-style: none;
    line-height: 50px;
}

aside .sidebar .links-name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

aside .sidebar.active .links-name {
    opacity: 1;
    pointer-events: auto;
}

aside .sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    line-height: 35px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
    font-weight: bold;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

aside .sidebar.active ul li .tooltip {
    display: none;
}

aside .sidebar ul li:hover .tooltip {
    transition: all .5s ease;
    opacity: 1;
    top: 50%;
}

aside .sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .5s ease;
    border-radius: 0 12px 12px 0;
    white-space: nowrap;

}

aside .sidebar ul li a:hover {
    background-color: var(--green2Titan);
}

aside .sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

aside .sidebar .profile-content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

aside .sidebar .profile-content .profile {
    position: relative;
    padding: 10px 10px;
    height: 60px;
}

aside .sidebar .profile-content .profile .profile-detail {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile-detail {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile-detail img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.profile .profile-detail .name-admin {
    margin-left: 10px;
}

.profile-content #log-out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

/* ==**===**===**== END OF ASIDE BAR ==**===**===**== */

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/*************************************************/
/* ==**===**===**== ADMIN MAIN ==**===**===**== */
/*************************************************/
.main-dashboard {
    height: 100%;
}

.container-admin-main {
    margin: 5rem 0 0 5rem;
}

.dashboard-title-container h1 {
    color: white;
    font-size: 1.5rem;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
}

.row-admin-data {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    padding: 1rem;
}

.row-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: var(--color-blue-light);
    padding: 1rem;
    border-radius: 1rem;
    height: 6rem;
    text-transform: uppercase;
}

.row-admin-data2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-left: 1rem;
    color: #fff;
    
}

.row-admin-data2 .link-product a{
    text-decoration: none;
    color: var(--color-blue-light-light);
    font-weight: bold;
}

.row-admin-data2 .row-data2 h3 {
    font-size: 1rem;
}

.row-admin-data2 .row-data2 {
    padding-bottom: 1rem;
}

.row-admin-data2 .row-data2 .detail-lastproduct p {
    font-size: 0.7rem;
}

.row-admin-data2 .row-data2 .img-lastproduct img {
    width: 12rem;
}

.row-dataGenres {
    display: flex;
    flex-direction: column;
}

.row-dataGenres .all-genres {
    margin-top: 1rem;
    background-color: #5a5c69;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 1rem;
}

@media screen and (min-width:768px){
    .row-admin-data {
        flex-direction: row;
        justify-content: space-between;
    }

    .row-data {
        flex-grow: 1;
        margin-right: 1rem;
    }

    .row-admin-data2 .row-data2 {
        width: 60%;
        padding: 1rem;
        background-color: rgba(0, 0, 0, 0.267);
        border: 1px solid var(--color-light);
        backdrop-filter: blur(2px);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.295);
    }

    .row-admin-data2 .row-data2 .div-title-lastproduct {
        padding: 1rem;
        text-transform: capitalize;
    }

    .row-admin-data2 .row-data2 .img-lastproduct img {
        width: 100%;
    }

    .row-admin-data2 .row-data2 .detail-lastproduct p {
        font-size: 1rem;
    }

    .row-dataGenres {
        width: 70%;
        margin: 2rem 0;
    }

    .dashboard-title-container h1 {
        font-size: 1.8rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width:1024px) {

    .row-admin-data2 {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2rem;
    }

    .row-admin-data2 .row-data2 {
        width: 50%;
    }

    .row-dataGenres {
        width: 30%;
    }

    .dashboard-title-container h1 {
        font-size: 2rem;
        margin-left: 2rem;
    }

    .row-data .title-data h5 {
        font-size: 1rem;
        color: var(--greenTitan);
    }

    .row-data .icon-data i {
        font-size: 2.5rem;
        color: #5a5c69;
    }
}