@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* @import url('login.css'); */
@import url('login.css');
@import url('register.css');
@import url('background.css');
@import url('header.css');
@import url('footer.css');

main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 80%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff8e 0px 0px 50px, #ffffff8c 0px 0px 75px;
}

span {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}

.box-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin:20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.247);
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}

.box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
}

.box:hover {
    background-color: rgba(0, 0, 0, 0.438);
}

@media (min-width:768px) {
    h1 {
        font-size: 1.5rem;
    }
    .box-container {
        margin: 50px;
    }
    .box {
        width: 200px;
        height: 150px;
    }
    .box a {
        font-size: 1rem;
    }
}

@media (min-width:1024px) {
    h1 {
        font-size: 2rem;
    }
    span {
        font-size: 2.5rem;
    }
    .box-container {
        gap: 50px;
    }
    .box:hover {
        transform: scale(1.2);
    }
    .box a {
        color: rgba(255, 255, 255, 0.37);
        transition: all .5s ease-in-out;
    }
    .box a:hover {
        color: white;
    }
}

