body {
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #161623;
    font-family: 'Poppins';
}

.bolita1 {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,rgb(98, 0, 255));
    clip-path: circle(30% at right 70%);
}

.bolita2 {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#69e91e);
    clip-path: circle(20% at 10% 10%);
}

.bolita3 {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 40% 110%);
}