body {
    background-color: #161623;
    opacity: 0.9;
    background-image:  radial-gradient(#9941db 0.65px, transparent 0.65px), radial-gradient(#9941db 0.65px, #161623 0.65px);
    background-size: 26px 26px;
    background-position: 0 0,13px 13px;
}