.text-danger {
    color: rgb(252, 90, 90);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.form-container {
    color: white;
    height: 100vh;

    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 5rem;
}

.form-responsive .form-title h1 {
    margin: 0 0 2rem 0;
}

.form-responsive .form-title h1 {
    font-size: 1.3rem;
    text-align: center;
    text-shadow: var(--neon-shadow);
}

.form-responsive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-name-input {
    display: flex;
    flex-direction: column;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    height: 100%;
    border: none;
}

.input-style {
    padding-left: 15px;
    font-size: 0.8rem;
    opacity: 0.8;
    border: none;
}

input.input-style:focus {
    box-shadow: 0 0 6px white;
    outline: none;
}

@media (min-width:1024px) {   
    .form-responsive .form-title h1 {
        font-size: 2rem;
    }

    .input-container  label {
        font-size: 1.5rem;
    }

    .input-style {
        padding: 0.3rem;
        font-size: 1.2rem;
    }
}