:root {
    --greenTitan : #8EBD00;
}

* {
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #0a0d13;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;   
    width: 100vw;
}

.logo-footer img{
    width: 100px;
}

/* ---  REDES SOCIALES  --- */

.box-footer-social p {
    color: var(--greenTitan);
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 0;
}
.box-footer-social {
    text-align: center;
    display: block;
    flex-grow: 0.2;
}
.box-footer-social i{
    font-size: 15px;
    transition: all 0.4s ease-in-out;
}
.social {
    display: flex;
    justify-content: space-between;
}
/* efectos */
.box-footer-social i:hover {
    transform: scale(0.9);
}

a:hover .fa-instagram {
    color: #b33163;
}
a:hover .fa-facebook {
    color: #3b5698;
}

a:hover .fa-twitch {
    color: #5830c7;
}

a:hover .fa-twitter {
    color: #2a92bb;
}


/* --- POLÍTICAS DE PRIVACIDAD -   ACERCA DE -  CONTACTANOS --- */

.box-info {
    margin-top: 15px;
    text-align: center;
    display: block;
    justify-content: center;
}
.box-info ul {
    padding: 0;
}
.box-info ul li {
    list-style: none;
    font-size: 0.5rem;
    line-height: 1.8;
    transition: all 0.3s;
}
.box-info li a{
    color: white;
    text-decoration: none;
}
i.fa-shield-alt{
    font-size: 40px;
}

.box-info li:hover {
    transform: scale(1.1);
}

/* --- MEDIA QUERIES ---*/
@media screen and (min-width: 480px){
    .box-footer-social i{
        font-size: 20px;
    }
    .box-info ul li {
        font-size: 0.7rem;
    }
    .logo-footer img{
        width: 130px;
    }
    .box-footer-social p {
        margin-bottom: 10px;
        margin-top: 10px;
    }
        
}

@media screen and (min-width:769px){
    .box-footer-social i{
        font-size: 30px;
    }
    .box-info ul li {
        font-size: 0.8rem;
    }
    .logo-footer img{
        width: 150px;
    }
    .box-footer-social p {
        margin-bottom: 15px;
    }
}