:root {
    --greenTitan: #8EBD00;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Poppins';
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

footer .container-footer {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Logo */

.container-footer .logo {
    margin: 15px;
}

.container-footer .logo img {   
    width: 15%;
    display: flex;
}

/* Redes Sociales */
 
.social {   
    display: flex;
    justify-content: center;
}

.box-footer-social {
    flex-grow: 0.3;
}

.box-footer-social a{
    flex-grow: 0.5;
    display: flex;
    color: black;
    font-size: 25px;
    width: 40px;
    align-items: center;
    justify-content: center;
} 

.social a:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    transform: scale(0.9);
}

a:hover .fa-instagram {
    color: #b33163;
}

a:hover .fa-facebook {
    color: #3b5698;
}

a:hover .fa-twitch {
    color: #5830c7;
}

a:hover .fa-twitter {
    color: #2a92bb;
}

.container-footer .box-footer-social p {
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: var(--greenTitan);
    margin-top: 10px;
    padding: 10px 20px;
    letter-spacing: 3px;
}

/* Políticas de privacidad / Contactanos / Acerca de*/

.container-footer .box-info {
    font-size: 16px;
    line-height: 1.6;
    margin-right: 30px;
}

.box-info ul {
    list-style: none;
    padding-right: 2px;
    text-align: center; 
}

.box-info ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8rem;
    font-weight: 400;
}

.box-info i {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.box-info ul li:hover {
    transform: scale(1.1);
}

/*  Copy */

.copy {
    background-color: rgba(8, 7, 7, 0.233);
    font-size: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;
}