:root {
    --greenTitan : #8EBD00;
}
footer {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
}

.logo img{
    max-width: 150px;
}

/*  REDES SOCIALES  */
.box-footer-social p {
    color: var(--greenTitan);
    letter-spacing: 3px;
    font-weight: bold;
}
.box-footer-social {
    text-align: center;
    display: block;
    flex-grow: 0.2;
}
.box-footer-social i{
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
.social {
    display: flex;
    justify-content: space-between;
}
/* efectos */
.box-footer-social i:hover {
    transform: scale(0.9);
}

a:hover .fa-instagram {
    color: #b33163;
}
a:hover .fa-facebook {
    color: #3b5698;
}

a:hover .fa-twitch {
    color: #5830c7;
}

a:hover .fa-twitter {
    color: #2a92bb;
}


/* POLÍTICAS DE PRIVACIDAD -   ACERCA DE -  CONTACTANOS*/

.box-info {
    margin-top: 15px;
    text-align: center;
    display: block;
    justify-content: center;
}
.box-info ul {
    padding: 0;
}
.box-info ul li {
    list-style: none;
    font-size: 0.8rem;
    line-height: 1.8;
    transition: all 0.3s;
}
.box-info li a{
    color: white;
    text-decoration: none;
}
i.fa-shield-alt{
    font-size: 40px;
}

.box-info li:hover {
    transform: scale(1.1);
}

@media screen and (min-width:769px){
    .box-footer-social i{
        font-size: 30px;
    }
}