@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('background.css');
@import url('header.css');
@import url('footer.css');

:root {
    --font-alfa: 'Alfa Slab One', cursive;
    --font-Poppins: 'Poppins', sans-serif;
    --greenTitan: #8ebd00;
    --green2Titan: #bfff0079;
    --greenDarkTitan: #6f9401;
    --color-blue-light-light: #3767a5;
    --danger-Titan: rgb(252, 90, 90);
    --neon-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px;
}