/* TopNav */

i {
    color: rgb(247, 240, 240);
}

.top-nav {
    position: fixed;
	top: 0;
    display: flex;
    z-index: 2;
    /*display: none;*/
    align-items: center;
    background-color: #161623;
    width: 100%;
    height: 40px;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    flex-grow: 0.25;
    gap: 5px;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    gap: 20px;
    flex-grow: 0.75;
    align-items: center;
}

.top-left p {
    display: none;
    margin: 0;
}

.nav-logo {
    display: none;
}

.store-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #161623;
    width: 170px;
    border-radius: 5px;
}

.notificacion-dropdown-main-nav {
    position: relative;
    display: inline-block;
}

.dropdown-content-notificacion-main-nav {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    background-color: #161623;
    width: 170px;
    border-radius: 5px;
    color: white;
    right: 0px;
    text-align: center;
    top: 30px;
}

.dropdown-content-notificacion-main-nav p {
    font-size: 18px;
}

.notificacion-dropdown-hamburguer {
    display: inline-block;
    flex-direction: row;
    margin-left: 15px;
    font-size: 1.6rem;
}

.dropdown-content-notificacion-hamburguer {
    display: none;
    background-color: #161623;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.store-hamburguer {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.store-hamburguer-main {
    display: flex;
    flex-direction: row;
}

.store-hamburguer-dropdown {
    flex-direction: column;
    display: none;
    background-color: #161623;
    width: 210px;
    color: white;
    right: -5px;
    border-radius: 5px;
    z-index: 17;
}

.store-dropdown:hover .dropdown-content {display: flex;}
.notificacion-dropdown-hamburguer:hover .dropdown-content-notificacion-hamburguer {display: flex;}
.store-hamburguer:hover .store-hamburguer-dropdown {display: flex;}
.notificacion-dropdown-main-nav:hover .dropdown-content-notificacion-main-nav {display: flex;}

/* Hamburguer */

.hamburguer {
    position: fixed;
    top: 0;
    z-index: 16;
    display: flex;
    display: none;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    background-color: #161623;
    color: whitesmoke;
    border: 1px solid black;
}

.hamburguer i {
    margin-top: 2.6%;
    font-size: 25px;
}

.hamburguer hr {
    margin-top: 0;
    color: rgb(0, 0, 0);
}

.username,
.store {
    padding: 3%;
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    margin-left: 5px;
}

.username {
    background-color: black;
    margin: 0;
}

.notificacion-content-hamburguer {
    display: flex;
}

.hamburguer-cart {
    display: flex;
    text-decoration: none;
}

.hamburguer-username {
    display: flex;
}

.hamburguer-username-dropdown {
    display: flex;
    flex-direction: column;
}

.hamburguer-logo img {
    width: 30%;
    margin: 20%;
}

.hamburguer-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.notificacion-dropdown-main-nav,
.user-icon {
    display: none;
}

.search-form {
    display: flex;
    width: initial;
}
.search-form_input {
    border: none;
    border-radius: 10px;
    background: #ffffff1a;
    padding: 0 25px;
    color: white;
    font-size: 0.8rem;
}
.search-form_button {
    background-color: rgba(0, 0, 0, 0.247);
    border: none;
    cursor: pointer;
}

input.search-form_input:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.438);
}

/* Media Query Tablet */

@media screen and (min-width: 768px) {
    
    .hamburguer-icon {
        display: none;
    }

    .img-evento {
        margin-top: 25px;
    }

    .top-nav {
        height: 60px;
        justify-content: space-around;
    }

    .top-left,
    .top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.5;
        font-size: 20px;
    }

    .top-left {
        justify-content: flex-start;
    }

    .top-left p {
        font-size: 23px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 0 2%;
        align-items: center;
        color: whitesmoke;
    }

    .dropdown-content {
        gap: 10px;
    }

    .dropdown-content p {
        font-size: 18px;
    }

    .top-right {
        justify-content: flex-end;
    }

    .nav-logo {
        display: flex;
        max-height: 64px;
        margin: 0;
        padding: 0;
        width: 10%;
    }

    .nav-logo img{
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        color: white;
    }    

    .notificacion-dropdown-main-nav,
    .user-icon {
    display: flex;
    }

    .user-icon-logged i {
        color: green;
    }

}