/* TopNav */

i {
    color: rgb(247, 240, 240);
}

.top-nav {
    position: fixed;
	top: 0;
    display: flex;
    z-index: 2;
    align-items: center;
    background-color: #0d1219;
    width: 100%;
    height: 40px;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    flex-grow: 0.25;
    gap: 5px;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    gap: 20px;
    flex-grow: 0.75;
    align-items: center;
}

.top-left p {
    display: none;
    margin: 0;
}

.nav-logo {
    display: none;
}

.store-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    flex-grow: 0.1;
}
.store-dropdown:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.438);
}

.dropdown-content {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #0d1219;
    width: 170px;
    border-radius: 5px;
    padding-left: 10px;
    height: 170px;
    padding-top: 10px;
}

.notificacion-dropdown-main-nav {
    position: relative;
    display: inline-block;
}

.dropdown-content-notificacion-main-nav {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    background-color: #0d1219;
    width: 170px;
    border-radius: 5px;
    color: white;
    right: 0px;
    text-align: center;
    top: 30px;
}

.dropdown-content-user-main-nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #0d1219;
    width: 170px;
    border-radius: 5px;
    right: -60px;
    text-align: center;
    height: 80px;
    padding-top: 17px;
    padding-bottom: 20px;
    top: 25px;
}

.profile-image-user-icon img {
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-image-user-icon {
    display: flex;
    position: relative;
} 

.dropdown-content-user-main-nav a{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}

.dropdown-content-user-main-nav a:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.438);
}

.session {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #00d900;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: -10px;
    box-shadow: #00d900 0px 0px 5px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px;
}

.admin-dashlink a {
    text-decoration: none;
    margin-left: 0.5rem;
}

.admin-dashlink small{
    font-size: 0.8rem;
    color: var(--greenTitan);
    font-weight: bold;
    text-shadow: #00d900 0px 0px 5px, #0ba10b 0px 0px 20px, #0ee20e 0px 0px 30px, #ffffff 0px 0px 40px;
    opacity: 0.7;
    transition: all .5s ease;
    -webkit-animation: text-focus-in .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in .5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.admin-dashlink small:hover {
    opacity: 1;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

.dropdown-content-notificacion-main-nav p {
    font-size: 18px;
}

.notificacion-dropdown-hamburguer {
    display: inline-block;
    flex-direction: row;
    margin-left: 15px;
    font-size: 1.6rem;
}

.dropdown-content-notificacion-hamburguer {
    display: none;
    background-color: #0d1219;
    color: white;
    font-size: 1rem;
    width: 100%;
}

.store-hamburguer {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.store-hamburguer-main {
    display: flex;
    flex-direction: row;
}

.store-hamburguer-dropdown {
    flex-direction: column;
    display: none;
    background-color: #0d1219;
    width: 210px;
    color: white;
    right: -5px;
    border-radius: 5px;
    z-index: 17;
}

#hamburguer-account h3{
    margin: 0 10px;
}

.store-dropdown:hover .dropdown-content {display: flex;}
.notificacion-dropdown-hamburguer:hover .dropdown-content-notificacion-hamburguer {display: flex;}
.store-hamburguer:hover .store-hamburguer-dropdown {display: flex;}
.notificacion-dropdown-main-nav:hover .dropdown-content-notificacion-main-nav {display: flex;}
.user-icon:hover .dropdown-content-user-main-nav {display: flex;}

/* Hamburguer */

.hamburguer {
    position: fixed;
    top: 0;
    z-index: 16;
    display: flex;
    display: none;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    background-color: #0d1219;
    color: whitesmoke;
    border: 1px solid black;
}

.hamburguer i {
    margin-top: 2.6%;
    font-size: 25px;
}

.hamburguer hr {
    margin-top: 0;
    color: rgb(0, 0, 0);
}

.username,
.store {
    padding: 3%;
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    margin-left: 5px;
}

.username {
    background-color: black;
    margin: 0;
}

.notificacion-content-hamburguer {
    display: flex;
}

.hamburguer-cart {
    display: flex;
    text-decoration: none;
}

.hamburguer-username {
    display: flex;
    justify-content: space-between;
}

.hamburguer-username-dropdown {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0;
}

.hamburguer-logo img {
    width: 30%;
    margin: 20%;
}

.logoImgHeader {
    vertical-align: middle;
    border-style: none;
}

.hamburguer-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.notificacion-dropdown-main-nav,
.user-icon {
    display: none;
}
.search-form {
    display: flex;
    width: initial;
    align-items: center;
}
.search-form_input {
    border: none;
    border-radius: 10px;
    background: #ffffff1a;
    padding: 0 25px;
    color: white;
    font-size: 0.9rem;
    height: 25px;
    width: 300px;
}
.search-form_button {
    background-color: rgba(0, 0, 0, 0.247);
    border: none;
    cursor: pointer;
}

input.search-form_input:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(255, 255, 255, 0.438);
}

/* Media Query Tablet */

@media screen and (min-width: 768px) {
    
    .hamburguer-icon {
        display: none;
    }

    .img-evento {
        margin-top: 25px;
    }

    .top-nav {
        height: 60px;
        justify-content: space-around;
    }

    .top-left,
    .top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.5;
        font-size: 20px;
        height: 0;
    }

    .top-left {
        justify-content: flex-start;
    }

    .top-left p {
        font-size: 23px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 0 2%;
        align-items: center;
        color: whitesmoke;
    }

    .dropdown-content {
        gap: 10px;
    }

    .dropdown-content p {
        font-size: 16px;
    }

    .top-right {
        justify-content: flex-end;
    }

    .nav-logo {
        display: flex;
        max-height: 100px;
        margin: 10px;
        padding: 0;
        width: 12%;
    }

    .nav-logo img{
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        color: white;
    }    

    .notificacion-dropdown-main-nav,
    .user-icon {
        display: flex;
        position: relative;
    }
    .user-icon a{
        text-decoration: none;
    }
    .dropdown-content a{
        text-decoration: none;
    }
    .dropdown-content a:hover {
        text-shadow: 0 0 5px rgb(255, 255, 255);
    }

}