/* TopNav */

i {
    color: rgb(247, 240, 240);
}

.top-nav {
    position: fixed;
	top: 0;
    display: flex;
    z-index: 2;
    /*display: none;*/
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 40px;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;
    flex-grow: 0.25;
}

.top-middle {
    display: none;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
    gap: 50px;
    flex-grow: 0.75;
}

.top-left p {
    display: none;
}

.nav-logo {
    display: none;
}

/* Hamburguer */

.hamburguer {
    position: fixed;
    top: 0;
    z-index: 16;
    display: flex;
    display: none;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    background-color: #1A1A1A;
    color: whitesmoke;
}

.hamburguer i {
    margin-top: 2.6%;
}

.hamburguer hr {
    margin-top: 0;
    color: rgb(0, 0, 0);
}

.username,
.store,
.about {
    padding: 3%;
    width: 100%;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
    margin-left: 5px;
}

.hamburguer-logo img {
    width: 30%;
    margin: 20%;
}

.hamburguer-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

/* Media Query Tablet */

@media screen and (min-width: 768px) {
    
    .hamburguer-icon {
        display: none;
    }

    .img-evento {
        margin-top: 25px;
    }

    .top-nav {
        height: 60px;
        justify-content: space-around;
    }

    .top-left,
    .top-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.5;
        font-size: 20px;
    }

    .top-left {
        justify-content: flex-start;
    }

    .top-left p {
        font-size: 25px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 0 2%;
        align-items: center;
        margin-top: 3%;
        color: whitesmoke;
    }

    .top-right {
        justify-content: flex-end;
    }

    .nav-logo {
        display: flex;
        max-height: 64px;
        margin: 0;
        padding: 0;
        width: 10%;
    }

    .nav-logo img{
        padding-left: 0;
        margin-left: 0;
        width: 100%;
        color: white;
    }    

}