/* Transitions */ 

main {
    margin: auto;
    max-width: 1024px;
}

.carousel-indicators {
    z-index: 1;
}

.logReg {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
      }
}

/* Grow item */

.special-offer-game:hover {    
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/* Carousel */

.slide img {
    height: 25vh;    
    margin-bottom: 5px;
    margin-top: 9%;
}

.carousel {
    position: relative;
    margin-top: 20px;
}

/* Section separator */

.separator {
    margin: 0;
    border-bottom: 2px solid white;
    display: flex;
    height: 40px;
}

.separator p {
    color: white;
    font-size: 25px;
    font-weight: 150;
    font-family: arial;
    margin-left: 2.5%;
}

/* Special Offers */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px 10px 10px;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
    height: 34vh;
}

.special-offer a {
    height: 100%;
    width: 100%;
}

.special-offer img {
    height: 100%;
    width: 100%;
}

.special-offer-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
    position: relative;
    transition: all .2s ease-in-out;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EBD00;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

.special-offer-game img {
    width: 100%;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

.special-offer-details {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-align: center;
    background-color: #807c7cbd;
}

.special-offer-details p {  
    margin: auto;
    padding: 1.5%;
    font-size: 0.85rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.see-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1% 0;
}

/* Discover */

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
    z-index: 1;
}

.categories {
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 5px;
    color: whitesmoke;
    font-weight: 600;
    width: 95%;
}

.games > .game:first-child {
    margin-top: 10px;
}

.games > .game:last-child {
    margin-bottom: 10px;
}

.categories p {
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 0 0;    
    font-size: 1.85vh;
}

#active {    
    background-color: #807c7c8a;
    margin-bottom: 0;
}

#active2 {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}
#active3 {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.games {
    display: flex;
    flex-direction: column;
    background-color: #807c7c8a;
    margin-top: 0;
    width: 100%;
    color: whitesmoke;
    font-weight: 600;
    justify-content: space-around;
    width: 95%;
    text-align: center;
    border-radius: 0 10px 10px 10px;
}

#top-sales {
    display: none;
}

#newest {
    display: none;
}

.game a {
    width: 40%;
    height: 100%;
}

.game img {
    width: 100%;
    height: 100%;
}

.game {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    max-height: 199px;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-text p {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.sale-box {
    background-color: hotpink;
}

.game-discover-hr {
    margin: 0;
    width: 100%;
}

.see-more-d {
    justify-content: center;
    background-color: #807c7c8a;
    width: 40%;
    margin-bottom: 15px;
    border-radius: 0 0 15px 15px;
}

.see-more-d a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more-d p {
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
}

/* Media Querys */ 

@media screen and (min-width: 480px) {

    .special-offer {
        height: 37vh;
    }

    .special-offer-game {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30%;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
        position: relative;
        transition: all .2s ease-in-out;
        height: 100%;
    }

    .see-more-button {
        margin-top: 1%;
    }

    .slide img {
        height: 32vh;
        margin-bottom: 5px;
        margin-top: 5.5%;
    }

    .discover {
        margin-top: 3%;
    }

}

@media screen and (min-width: 768px) {

    .special-offer {
        height: 40%;
    }

    .discover {
        margin-top: 2%;
    }

}

@media screen and (min-width: 1024px) {

    .discover {
        margin-top: 1.7%;
    }
    
    .games img {
        max-height: 160px;
        width: 100%;
    }

    .see-more-button {
        margin-top: 10%;
    }

    .slide img {
        height: 45vh;
        margin-bottom: 5px;
    }

}