/* Transitions */

* {
    font-weight: 100;
}

main {
    margin: auto;
    max-width: 1024px;
}

.carousel-indicators {
    z-index: 1;
}

.logReg {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.polygon-container {
    background-color: var(--greenTitan);
    width: 50px;
    height: 95px;
    position: absolute;
    top: 35px;
    right: 30px;
    box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
-webkit-box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
-moz-box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 50% 70%, 0 100%, 0 100%);
}

.polygon-container-info {
    font-size: 0.5rem;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

p.info-polygon{
    margin-bottom: 0;
    font-weight: bold;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
      }
}

/* Carousel */

.slide img {
    height: 25vh;    
    margin-bottom: 5px;
    margin-top: 9%;
}

.carousel {
    position: relative;
    margin-top: 20px;
}

/* Section separator */

.separator {
    margin: 10px;
    border-bottom: 0.1px solid #7c7c7c69;
    display: flex;
    height: 40px;
}

.separator p {
    color: white;
    font-size: 18px;
    margin-left: 2.5%;
}

/* Special Offers */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px 20px 10px;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
    height: 34vh;
    
}

.special-offer a {
    height: 100%;
    width: 100%;
}

.special-offer img {
    height: 100%;
    width: 100%;
}

.special-offer-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
    position: relative;
    transition: all .2s ease-in-out;
}

.special-offer-game:hover {
    filter: contrast(95%);
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EBD00;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

.special-offer-game img {
    width: 100%;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}


.special-offer-details {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: 5%;
    top: 40%;
}

.special-offer-details p {
    font-weight: bold;
    color: #92a5de;  
    margin: auto;
    padding: 1.5%;
    font-size: 0.7rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#price-offer {
    font-weight: bold;
    font-size: 1rem;
    color: #92a5de;
    text-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #607dd4, 5px 5px 0 #546ebb, 6px 6px 0 #3f5699, 7px 7px 0 #3a4c83, 8px 8px 0 #394a7c, 9px 9px 0 #2e4075, 10px 10px 0 #26386d, 2px 2px 2px rgba(206,89,55,0);
}

.see-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1% 0;
}

/* Discover */

  .imgBx img {
    width: 300px;
    height: 150px;
    object-fit: cover;
  }
  .games-main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  .games-main-container .card-container {
    position: relative;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
  }
  .games-main-container .card-container:hover {
    transform: scale(1.05);
  }
  .games-main-container .card-container .content-card {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.5s;
    cursor: pointer;
  }
  .games-main-container .card-container:hover .content-card {
    bottom: 0px;
  }
  .games-main-container .card-container .content-card .contentBx h3 {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
  }
  .games-main-container .card-container .content-card .contentBx h3 span {
    font-weight: 900;
    color: white;
    text-transform: initial;
  }
  .games-main-container .card-container .content-card .icon-cart {
    position: relative;
    bottom: 10px;
    display: flex;
  }
  .games-main-container .card-container:hover .content-card .icon-cart i{
    color: var(--greenTitan);
  }

/* Last section */
.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;
    z-index: 1;
}

.categories {
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 5px;
    color: whitesmoke;
    font-weight: 600;
    width: 95%;
}

.games > .game:first-child {
    margin-top: 5px;
}

.games > .game:last-child {
    margin-bottom: 10px;
}

.categories p {
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 0 0;    
    font-size: 1.85vh;
}

#active {    
    background-color: #0000004d;
    margin-bottom: 0;
}

#active2 {
    background-color: #0000004d;
    margin-bottom: 0;
}
#active3 {
    background-color: #0000004d;
    margin-bottom: 0;
}

.games {
    flex-direction: column;
    background-color: #0000004d;
    color: whitesmoke;
    font-weight: 600;
    justify-content: space-around;
    text-align: center;
    border-radius: 0 10px 10px 10px;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
}

#top-sales {
    display: none;
}

#newest {
    display: none;
}

.game a {
    width: 40%;
    text-decoration: none;
}

.game img {
    height: 70px;
    width: 120px;
    object-fit: cover;
}

.game {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    max-height: 199px;
    align-items: center;
    background-color: #00000038;
    margin-top: 10px;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-text p {
    display: flex;
    padding: 5px;
    flex-direction: column;
    text-align: center;
}

.price {
    display: flex;
    gap: 5px;
    justify-content: right;
}

.sale-box {
    border-radius: 5px;
    background-color: var(--greenDarkTitan);
}

.game-discover-hr {
    margin: 0;
    width: 100%;
}

.see-more-d {
    justify-content: center;
    background-color: transparent;
    width: 150px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    border: 1px solid black;
    box-shadow: -1px 0px 49px -25px rgba(0,0,0,0.51) inset;
-webkit-box-shadow: -1px 0px 49px -25px rgba(0,0,0,0.51) inset;
-moz-box-shadow: -1px 0px 49px -25px rgba(0,0,0,0.51) inset;
}

.see-more-d a {
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    display: contents;
    text-align: center;
}

.see-more-d p {
    margin-bottom: initial;
}


/* Media Querys */ 

@media screen and (min-width: 480px) {

    .special-offer {
        height: 37vh;
    }

    .special-offer-game {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30%;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
        position: relative;
        transition: all .2s ease-in-out;
        height: 100%;
        /* border-radius: 5%; */
    }

    .see-more-button {
        margin-top: 1%;
    }

    .slide img {
        height: 50vh;
        object-fit: cover;
        margin-bottom: 5px;
        margin-top: 5.5%;
    }

    .discover {
        margin-top: 3%;
    }

}

@media screen and (min-width: 768px) {

    .special-offer {
        height: 40%;
    }

    .discover {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .see-more-d {
        margin: initial;
        padding-bottom: 20px;
    }

    .game img {
        height: 90px;
        width: 150px;
    }
    .polygon-container {
        height: 100px;
        top: 55px;
    }
    #price-offer {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 1024px) {

    .discover {
        margin-top: 1.7%;
    }
    
    .games img {
        max-height: 100px;
        width: 150px;
    }

    .see-more-button {
        margin-top: 10%;
    }

    .slide img {
        height: 55vh;
        width: 65vw;
        margin-bottom: 5px;
    }

    .game a {
        width: 20%;
    }
    .polygon-container {
        width: 80px;
        height: 130px;
        top: 56px;
        right: 40px;
    }
    .polygon-container-info {
        font-size: 0.6rem;        
    }
    p.info-polygon {
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #ffffff 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
    }
    #polygon-disc {
        font-size: 1.2rem;
    }
    #price-offer {
        font-size: 2rem;
    }

}