/* Transitions */ 
/* Open to right */

.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
  }
  @keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
      }
      100% {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
      }
}

/* Grow item */

.special-offer-game:hover {    
    -moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
}

/* Image from the event */

.img-evento img {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    min-height: 22vh;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

/* Carousel */

.slide img {
    height: 25vh;    
    margin-bottom: 5px;
}

.carousel {
    position: relative;
    margin-top: 20px;
}

/* Section separator */

.separator {
    margin: 0;
    border-bottom: 2px solid white;
    display: flex;
    height: 40px;
}

.separator h4 {
    font-weight: 1000;
    color: whitesmoke;
    padding: 10px 0px;
    margin: 0 0 0 5px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* Special Offers */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px 10px 10px;
    width: 100vw;
    gap: 15px;
    margin-top: 20px;
    min-height: 250px;
}

.special-offer-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
    position: relative;
    transition: all .2s ease-in-out;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EBD00;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

.special-offer-game img {
    width: 100%;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

.special-offer-details {
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    color: white;
    font-weight: 600;
    font-style: bold;
    background-color: #807c7cbd;
    width: 100%;
}

.special-offer-details p {  
    margin: auto;
    padding: 1.5%;
    font-size: 0.85rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.see-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1% 0;
}

/* Discover */

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.categories {
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 5px;
    color: whitesmoke;
    font-weight: 600;
    width: 95%;
}

.games > .game:first-child {
    margin-top: 10px;
}

.games > .game:last-child {
    margin-bottom: 10px;
}

.categories p {
    padding: 5px 5px 5px 5px;
    border-radius: 5px 5px 0 0;    
    font-size: 1.85vh;
}

#active {    
    background-color: #807c7c36;
    margin-bottom: 0;
}

#active2 {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}
#active3 {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 0;
}

.games {
    display: flex;
    flex-direction: column;
    background-color: #807c7c36;
    margin-top: 0;
    width: 100%;
    color: whitesmoke;
    font-weight: 600;
    justify-content: space-around;
    width: 95%;
    text-align: center;
    border-radius: 0 10px 10px 10px;
}

#top-sales {
    display: none;
}

#newest {
    display: none;
}

.games img {
    width: 40%;
}

.game {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    max-height: 199px;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-text p {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.sale-box {
    background-color: hotpink;
}

.game-discover-hr {
    margin: 0;
    width: 100%;
}

.see-more-d {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #807c7c36;
    width: 40%;
    margin-bottom: 15px;
    border-radius: 0 0 15px 15px;
}

.see-more-d button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

/* Media Querys */ 

@media screen and (min-width: 480px) {
    
    .img-evento img {
        max-height: 30vh;
    }

    .slide img {
        height: 35vh;
    }

    .special-offer-details {
        height: 30%;
    }

    .special-offer-details p {
        font-weight: 1200;
        font-size: 1.3rem;
    }

    .special-offer img {
        height: 23vh;
    }

    .games p {
        font-size: 1.3rem;
    }

    .games {
        height: 600px;
    }

}

@media screen and (min-width: 1024px) {
    
    .games img {
        max-height: 160px;
    }

}