@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('header.css');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background: linear-gradient(179.96deg, #1E16FF 2.64%, #4F00FF 51.79%, #8F00FF 99.92%);
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Image from the event */

.img-evento img {
    height: 20vh;
    width: 100%;
    margin-top: 35px;
}

/* Section separator */

.separator h4 {
    font-weight: 400;
    color: whitesmoke;
    margin: 5px 0px 0px 5px;
}

.separator hr {
    margin-top: 0;
    color: whitesmoke;
    height: 2px;
}

/* Special Offers */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px 10px 10px;
    width: 100vw;
    gap: 15px;
}

.special-offer-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
}

.special-offer-game img {
    width: 100%;
}