@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('header.css');
@import url('footer.css');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins';
}

body {
    background: linear-gradient(179.96deg, #1E16FF 2.64%, #4F00FF 51.79%, #8F00FF 99.92%);
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Image from the event */

.img-evento img {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    min-height: 22vh;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

/* Carousel */

.carousel {
    margin-bottom: 10px;
}

/* Section separator */

.separator h4 {
    font-weight: 1000;
    color: whitesmoke;
    margin: 5px 0px 0px 5px;
}

.separator hr {
    margin-top: 0;
    color: whitesmoke;
    height: 3px;
}

/* Special Offers */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px 10px 10px;
    width: 100vw;
    gap: 15px;
}

.special-offer-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EBD00;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.special-offer-game img {
    width: 100%;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

/* Discover */

.categories {
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 5px;
    color: whitesmoke;
    font-weight: 600;
    padding: 5px 5px 0px 5px;
}

.categories p {
    padding-right: 5px;
    padding-left: 5px;
}

.active {
    background-color: rgba(128, 128, 128, 0.6);
    margin-bottom: 0;
}

.games {
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.6);
    margin-top: 0;
    width: 100%;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 5%;
    justify-content: space-around;
}

.games img {
    width: 40%;
    height: 100%;
    max-height: 105px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5%;
}

.game-text h4 {
    display: flex;
    padding: 0;
    flex-direction: row;
}

.price {
    display: flex;
    padding: 30px 0 0 90px;
    align-self: flex-end;
    gap: 5px;
}

.sale-box {
    background-color: hotpink;
}

.top-left:hover > .hamburguer {
    display: flex;
}