@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('background.css');
@import url('login.css');
@import url('register.css');

/* Image from the event */

.img-evento img {
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    min-height: 22vh;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

/* Carousel */

.carousel {
    margin-bottom: 10px;
}

/* Section separator */

.separator h4 {
    font-weight: 1000;
    color: whitesmoke;
    margin: 5px 0px 0px 5px;
}

.separator hr {
    margin-top: 0;
    color: whitesmoke;
    height: 3px;
}

/* Special Offers */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 10px 10px 10px;
    width: 100vw;
    gap: 15px;
}

.special-offer-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.548);
    position: relative;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EBD00;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.special-offer-game img {
    width: 100%;
    box-shadow: 2px 0.7698959708213806px 1.078827142715454px 2px #00000065;
}

.special-offer-details {
    position: absolute;
    bottom: 0;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    color: white;
    font-weight: 600;
    font-style: bold;
    background-color: #807c7cbd;
    width: 100%;
}

.special-offer-details p {  
    margin: auto;
    padding: 1.5%;
    font-size: 0.85rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Discover */

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    text-align: center;
    font-size: 15px;
    gap: 5px;
    color: whitesmoke;
    font-weight: 600;
    padding: 5px 5px 0px 5px;
}

.categories p {
    padding-right: 5px;
    padding-left: 5px;
}

.active {
    background-color: #807c7c36;
    margin-bottom: 0;
}

.games {
    display: flex;
    flex-direction: column;
    background-color: #807c7c36;
    margin-top: 0;
    width: 100%;
    color: whitesmoke;
    font-weight: 600;
    margin-bottom: 5%;
    justify-content: space-around;
    width: 95%;
    text-align: center;
}

.games img {
    width: 40%;
    height: 100%;
    max-height: 105px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    gap: 5%;
    justify-content: space-between;
}

.game-text p {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 5px;
}

.sale-box {
    background-color: hotpink;
}

.game-discover-hr {
    margin: 0;
}

.see-more-d {
    display: flex;
    justify-content: center;
    align-items: center;
}
