@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('login.css');
@import url('register.css');
@import url('profileEdit.css');
@import url('home-main.css');
@import url('categories.css');
@import url('editSubyCat.css');
@import url('general.css');
@import url('scroll.css');

:root {
    --font-alfa: 'Alfa Slab One', cursive;
    --greenTitan: #8EBD00;
    --greenDarkTitan: #6f9401;
}

