@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('login.css');
@import url('register.css');
@import url('profileEdit.css');
@import url('background.css');
@import url('header.css');
@import url('home-main.css');
@import url('footer.css');