@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    height: 100%;
}



.card .close {
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 1%;
    right: 2%;
    padding: 4px 10px;
    z-index: 1;
    height: 33px;
}
  
.close:hover {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
}

.form_container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

form {
    width: 90%;
    
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 5px;
    width: 100%;
}

.form_container .card {
    display: flex;
    width: 310px;
    height: 480px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.form_container .card .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    max-height: 130px;
    margin-top: 15px;
}

.form_container .card .content .form {
    font-size: 8em;
}

.input-container,
.input-style {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 7px;
    height: 100%;
    outline: none;
}

.input-style {
    border: 1px solid black;
    padding-left: 15px;
}

.error-message {
    display: none;
}

.check {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 6px;
}

.recordar {
    display: flex;
    align-items: center;
    height: 5vh;
    color: white;
}

span.error-message {
    color:red;
    font-size: 0.8rem;
    margin: 5px auto 0;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color:black;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    width: 120px;
    cursor: pointer;
    outline: none;
}


a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
} 

@media (min-width:481px) {
    .form_container .card {
        width: 90vw;
    }

    div.input-container {
        width: 300px;
    }
}

@media (min-width:768px) {
    .form_container .card {
        max-width: 360px;
        
    }

    div.input-container {
        width: 290px;
    }

    .input-container,
    .input-style {
        height: 8vh;
        border-radius: 50px;
    }

}

@media (min-width:1280px) {

    .form_container .card {
        width: 120vw;
        height: 75vh;
    }
    
    .input-container,
    .input-style {
        height: 8vh;
    }

    button.submit {
        height: 8vh;
        border-radius: 30px;
    }
}