.logReg {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

 .card {
    display: flex;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    -webkit-box-shadow: 4px 1px 37px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 1px 37px 1px rgba(0,0,0,0.75);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.content p {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
}

.logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 85px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.input-container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    margin-top: 7px;
    height: 100%;
    border: none;
}

.input-style {
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
    border: none;
}

input.input-style:focus {
    box-shadow: 0 0 6px white;
    outline: none;
}

.check {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 10px;
}

.recordar {
    display: flex;
    align-items: center;
    height: 5vh;
    color: white;
}

label.recordar {
    margin: 0;
}

button.submit-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color:black;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    max-height: 48px;
    width: 120px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: all ease 1s;
    padding: 20px 0;
}

button.submit-login:hover {
    background-color: #161623;
    color: white;
}


.last-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin-top: 15px;
}

.last-text a {
    text-decoration: none;
    color: white;
    transition: all .4s ease;
}

.last-text a:hover {
    color: #161623;
    font-weight: bold;
}

.redirect-log-reg a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 30px;
} 
  
@media (min-width:481px) {

    div.input-container {
        width: 300px;
    }
}

@media (min-width:768px) {
    .card {
        width: 450px;
        height: 447px;        
    }

    div.input-container {
        width: 290px;
    }

    .input-container,
    .input-style {
        height: 8vh;
        border-radius: 50px;
    }
}

@media (min-width:1024px) {   
    .card {
        width: 450px;
        height: 500px;        
    }
    .input-container,
    .input-style {
        height: 8vh;
    }
    button.submit {
        height: 8vh;
        border-radius: 30px;
    }
}