@import url('general.css');
@import url('scroll.css');

aside {
    display: none;
}

.bar-product {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: #343434e3;
    box-shadow: 8px 10px 12px -9px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 10px 12px -9px rgba(0,0,0,1);
    -moz-box-shadow: 8px 10px 12px -9px rgba(0,0,0,1);
    position: absolute;
    top: 40px;
    cursor: pointer;
    z-index: 1;
}

.bar-product p{
    color: white;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 0.6rem;
}

/* SECTION1 */

.field-product {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
form.load-product {
    margin-top: 100px;
    width: 100%;
}

.grid {
    margin-top: 50px; 
    display: grid;
    justify-content: center;
    margin-bottom: 15px;
}

.grid p{
    color: white;
}

.grid .form-element {
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 20px 5px rgba(100,100,100, 0.1);
}

.grid .form-element input {
    display: none;
}

.grid .form-element img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.grid .form-element div {
    height: 40px;
    text-align: center;
    font-size: 13px; 
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.grid .form-element div span {
    font-size: 40px;
}

.grid .form-elements {
    width: 250px;
    height: 10px;
    box-shadow: 0px 0px 20px 5px rgba(100,100,100, 0.1);
}

.field-flex {
    display: flex;
    margin: 10px;
    width: fit-content;
    flex-direction: column;
}
.field-flex .field-gen {
    /* width: 100%; */
    display: grid;
    /* justify-content: start; */
}

.field-flex .field-subgen {
    width: 100%;
    display: grid;
    justify-content: start;
}

.desc-flex {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

label {
    color: white;
}

.form-elements-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.form-elements-ind {
    width: 150px;
    height: 100px;
    box-shadow: 0px 0px 20px 5px rgba(100,100,100, 0.1);
}

.form-elements-ind input {
    display: none;
}

.form-elements-ind img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-elements-ind div {
    height: 40px;
    text-align: center;
    font-size: 13px; 
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.field-trailer {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.button-container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.button-container .btn-submit {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
    padding: 10px 40px; 
}
.btn-submit {
    border: 1px solid #96bd27;
    border-radius: 5px;
    border-bottom-color: #69941b;
    border-left-color: #7fa721;
    border-right-color: #7fa721;
    color: #fff;
    font-weight: bold;
    text-align: right;
    background: linear-gradient(-180deg,#9fbf00,#80ab00 91%);
}
.btn-submit:hover {
    background: linear-gradient(180deg,#88b500, #c7e23e);
}
.button.btn.btn-submit {
    display: block;
    justify-content: center;
}

input.style-input {
    border: none;
    height: 1.8rem;
    padding: 5px;
    opacity: 0.8;
}

select.style-select {
    border: none;
    height: 2.4rem;
    padding: 0.5rem;
    opacity: 0.8;
}

textarea.style-textarea {
    border: none;
    opacity: 0.8;
    height: 19.5vh;
}

input.style-input:focus ,
select.style-select:focus,
textarea.style-textarea:focus {
    box-shadow: 0 0 6px white;
    outline: none;
}

span.text-danger {
    color: rgb(252, 90, 90);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#req-title {
    color: white;
    text-align: center;
    margin: 15px 0;
}

/* SECTION2 */

section.section-2 h2 {
    color: white;
    text-align: center;
    text-shadow: var(--neon-shadow);
    padding: 1rem;
}

section.section-2 {
    background-color: rgba(0, 0, 0, 0.199);
    display: column;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px #0a0a0a;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 80px;
}

.search-form-admin {
    text-align: center;
    background-color: #343434e3;
    margin-top: -5px;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

.game-stock {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2px);
}
.game-stock img {
    width:100%;
    height: auto;
}

.game-name {
    color: white;
    font-weight: bold;
    width: 45%;
}

.game-name img {
    width: 100%;
    object-fit: cover;
}

.price {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.edit-remove {
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.edit-remove a {
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.price p {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

[data-content] {display: none;}

.active[data-content] {display: block;}

.row-req {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.req-container {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 45%;
    margin-bottom: 15px;
    justify-content: flex-end;
}

 button.delete-button {
    background: none;
    border: none;
}

button.delete-button  i {
    color: rgb(252, 90, 90);
    cursor: pointer;
    font-size: 1rem;
}

/* ************ MEDIA QUERIES ************ */

@media screen and (min-width: 768px){
    .bar-product {
        margin-top: 30px;
    }
    .field-flex .field-gen {
        margin-right: 190px;
    }
    form.load-product {
        padding-top: 100px;
        width: 90%;
        margin: 0 auto;
    }
    section.section-2 {
        width: 90%;
        margin: 90px auto 30px;
    }
    section#section3 {
        width: 90%;
        margin: 90px auto 30px;
    }
    .field-flex { flex-direction: row; }

    .game-stock { padding: 1rem; }

    .game-name { width: 35%; }

    .price { width: 90%; }

    .price p{ font-size: 1rem; }
}

@media screen and (min-width: 1024px){
    form.load-product { display: flex; }

    .desc-product-load {
        width: 60%;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .other-box {
        width: 50%;
        margin-top: 10px;
    }
    .display-flex-box {
        display: flex;
        flex-direction: column;
    }
    .grid {
        justify-content: center;
        margin-top: 22px;
    }
    .grid .form-element {
        width: 400px;
        height: 300px;
    }
    .form-elements-flex {
        flex-wrap: nowrap;
        justify-content: center;
    }
    .form-elements-ind {
        width: 100px;
        height: 100px;
    }
    .button-container {
        justify-content: flex-start;
        flex-direction: row;
    }

    .bar-product { margin-top: 20px; }
    .bar-product p {
        font-size: 1rem;
        justify-content: space-evenly;
    }
    section.section-2 {
        width: 80%;
        margin: 90px auto 30px;
    }

    section.section-2 h2 { font-size: 2rem; }

    .game-stock img {
        box-shadow: 0 0 6px 5px rgba(0, 0, 0, 0.274);
        transition: all .4s ease;
    }
    .game-stock img:hover { transform: scale(1.1); }
    section#section3 {
        width: 80%;
        margin: 90px auto 30px;
    }
    .field-product label { margin-top: 10px;}

    .field-flex .field-gen { margin-right: 120px; }

    aside { display: block; }

    .price p{
        text-align: initial;
        padding-left: 2rem;
        width: 60%;
        font-size: 1.3rem;
    }

    .edit-remove a,
    button.delete-button  i {
        font-size: 1.5rem;
        opacity: 0.6;
        transition: all .5s ease;
    }

    .edit-remove a:hover,
    button.delete-button  i:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}