@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('background.css');
@import url('header.css');
@import url('footer.css');

:root {
  --pinkTitan: #D94969;
}
body {
  margin: 0;
}
* {
  color: white;
}
main {
  margin-top: 50px;
  margin-left: 10px;
}

/*    */
.title-product h3 {
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.media {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.media iframe {
  width: 100%;
  height: 300px;
}
.buy-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#offer {
  background-color: var(--pinkTitan);
  line-height: 30px;
  width: 50px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
}
.buy-product p {
  font-weight: bold;
  font-size: 20px;
}

/*--  -- SLIDER --  --*/
.mySlides img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition:0.4s ease;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
 	color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  padding-left: 10px;
}

/* Add a transparency effect for thumnbail images */

.demo {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.active,
.demo:hover {
  opacity: 1;
  transform: scale(1.1);
}

.row {
  display: flex;
  justify-content: space-between;
}


/*botón >comprar*/
.button-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
}
.button-container .btn-submit {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
  padding: 15px;
}
.btn-submit {
  border: 1px solid #96bd27;
  border-radius: 5px;
  border-bottom-color: #69941b;
  border-left-color: #7fa721;
  border-right-color: #7fa721;
  color: #fff;
  font-weight: bold;
  text-align: right;
  background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);
}
.btn-submit:hover {
  background: linear-gradient(180deg,#a7c900,#88b500);
}
.button.btn.btn-submit {
  display: block;
  justify-content: center;
}

/*  APARTADO IMAGÉN-DESCRIPCIÓN  */
.img-prod-descrp {
  text-align: center;
  position: relative;
} 
.img-prod-descrp img {
  width: 90%;
  margin-top: 15px;
}

.img-prod-descrp p {
  margin: 10px;
  font-weight: lighter;
}

/* VIDEO POPUP */
.img-prod-descrp a {
  position: relative;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  color: var(--greenTitan);
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  transition: all .4s ease;
}

.img-prod-descrp a:hover {
  background: rgba(0, 0, 0, 0.8);
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  
}

.trailer.active {
  visibility: visible;
  opacity: 1;
  
}

.trailer iframe {
  position: relative;
  max-width: 900px;
  outline: none;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}

@keyframes in {

}

/*  ESPECIFICACIONES TÉCNICAS  */
.specs-product {
  margin: 15px;
}
.specs-product h4{
  margin-block-end: 0;
  text-transform: uppercase;
}

.specs-product ul li {
  color: darkgray;
}



/* ------ MEDIA QUERIES ------ */

/*Mobile*/
@media screen and (min-width:480px){
  .button-container .btn-submit {
    max-width: 80%;
  }
}

/*Tablets*/
@media screen and (min-width:769px){
  .buy-product {
    justify-content: space-around;
  }
  .specs-product ul li {
    line-height: 400%;
  }
  iframe {
    width: 90%;
    height: 400px;
  }

  .title-product h3 {
    font-size: 25px;
    margin-bottom: 0;
  }

  #offer {
    padding: 5px 10px;
  }

  .container {
    width: 90%;
    margin: auto;
  }
  
}

/*Desktop*/
@media screen and (min-width:1024px){
  main {
    display: flex;
  }
  .principal-container {
    width: 70%;
  }
  .info-container {
    width: 40%;
  }
  .buy-product p {
    font-size: 30px;
  }
  .button-container {
    align-items: inherit;
  }

  .btn-submit {
    padding: 10px;
  }
  .img-prod-descrp {
    margin-top: 20px;
  }
  .specs-product ul li {
    line-height: 200%;
  }

  .img-prod-descrp a {
    margin-top: 10px;
  }
  .specs-product {
    margin: 0;
  }

  .specs-product hr {
    width: 90%;
  }
  #offer {
    width: auto;
  }
}