@import url('general.css');
@import url('scroll.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
main {
    margin: 10px;
    min-height: 65vh;
}
main h3 {
    text-transform: uppercase;
}
.detail-cart {
    background-color: rgba(0, 0, 0, 0.315);
    display: column;
    justify-content: center;
    padding: 10px;
    box-shadow: 5px 5px 5px #0a0a0a;
    border: 1px solid rgb(24, 24, 24);
    margin-bottom: 20px;
}
.detalle-compra {
    margin-top: 50px;
    margin-left: 5px;
}

.game-cart {
    background-color: rgba(0, 0, 0, 0.37);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.game-cart img {
    width: 40%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    transition: all 0.4s ease;
}

.game-name {
    display: flex;
}

.price-flex p {
    font-size: 0.7rem;
}

.game-name h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 10px;
}

#remove {
    top: 50px;
    left: 200px;
    font-size: 0.7rem;
    cursor: pointer;
    color: var(--greenTitan);
}

#remove:hover {
    color: red;
}

.confirm-cart {
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 10px 0;
    box-shadow: 5px 5px 5px #0a0a0a;
    border: 1px solid rgb(24, 24, 24);
}

.total-cart {
    margin: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

#remove-all {
    font-size: 0.7rem;
    left: 194px;
    top: 102px;
    width: 74px;
    cursor: pointer;
    font-weight: normal;
    color: var(--greenTitan);
    background: none;
    border: none;
}

.totalSubmit {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.interes {
    margin-left: 12px;
}

#remove-all:hover {
    color: red;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 8px;
}

.btn-submit {
    padding: 10px 20px;
    border: 1px solid #96bd27;
    border-radius: 5px;
    border-bottom-color: #69941b;
    border-left-color: #7fa721;
    border-right-color: #7fa721;
    color: #fff;
    font-weight: bold;
    text-align: right;
    background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);
    margin-top: -20px;
}

.btn-submit:hover {
    background: linear-gradient(180deg,#a7c900,#88b500);
  }

.interes {
    padding-top: 30px;
    padding-bottom: 20px;
}


.interes h5 {
    color: var(--greenTitan);
}

.int-games {
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.int-ind-games img {
    width: 90px;
    height: 100px;
    opacity: 0.7;
    transition: all .4s ease;
}

.int-ind-games img:hover {
    transform: scale(1.1);
    opacity: 1;
}

div.button-container-int {
    text-align: center;
    margin: 10px;
}

.button-container-int .int-btn-submit {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #96bd27;
    border-radius: 5px;
    border-bottom-color: #69941b;
    border-left-color: #7fa721;
    border-right-color: #7fa721;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);
}

/* SECCIÓN : PUEDE QUE TE INTERESE  */
section {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.63);
  }
  section h5{
    margin-top: 10px;
    font-weight: lighter;
    margin-left: 20px;
    border-bottom: 1px solid rgba(255, 247, 247, 0.308);
    width: 80%;
    padding-bottom: 10px;
  }
  .imgBx img {
    width: 100%;
  }
  .interest-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
  }
  .interest-container .card-container {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
  .interest-container .card-container .content-card {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: bottom 0.5s;
    cursor: pointer;
  }
  .interest-container .card-container:hover .content-card {
    bottom: 0px;
  }
  .interest-container .card-container .content-card .contentBx h3 {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
  }
  .interest-container .card-container .content-card .contentBx h3 span {
    font-weight: 900;
    color: white;
    text-transform: initial;
  }
  .interest-container .card-container .content-card .icon-cart {
    position: relative;
    bottom: 10px;
    display: flex;
  }
  .interest-container .card-container:hover .content-card .icon-cart i{
    color: var(--greenTitan);
  }

@media  screen and (min-width: 480px) {
    .int-ind-games img {
        width: 110px;
        height: 120px;
    }
    .price-flex p {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 769px){
    main {
        width: 80%;
        margin: 0 auto;
    }
    .detalle-compra {
        margin-top: 40px;
    }

    .price-flex p {
        font-size: 1rem;
    }
    section {
        max-width: 80%;
        margin: 20px auto;
      }
}

@media screen and (min-width: 1024px) {
    .int-ind-games img {
        width: 150px;
        height: 180px;
        padding: 10px 0;
    }
    .game-cart img {
        width: 25%;
    }
    main {
        width: 70%;
    }
    section {
        max-width: 90%;
        margin: 50px auto;
    }
    .game-name h4 {
        font-size: 1rem;
    }
}