@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('background.css');
@import url('header.css');
@import url('footer.css');
@import url('login.css');
@import url('register.css');
:root {
  --pinkTitan: #D94969;
}

* {
  margin: 0;
  box-sizing: border-box;
}
body {
/*   margin: 0; */
  color: white;
}

main {
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  position: relative;
}

/*    */
.title-product h3 {
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.media {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.media iframe {
  width: 100%;
  height: 300px;
}
.buy-product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
#offer {
  background-color: var(--pinkTitan);
  line-height: 30px;
  width: 50px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
}
.buy-product p {
  font-weight: bold;
  font-size: 1rem;
}

/*--  -- SLIDER --  --*/
.mySlides img {
  vertical-align: middle;
}
.container {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  transition:0.4s ease;
}
.next {
  right: 0;
}
.prev:hover,
.next:hover {
 	color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
  padding-left: 10px;
}
.demo {
  opacity: 0.6;
  transition: all 0.5s ease-in-out;
}
.active,
.demo:hover {
  opacity: 1;
  transform: scale(1.1);
}
.row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/*botón >comprar*/
.button-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
}
.button-container .btn-submit {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 25%);
  padding: 15px; 
}
.btn-submit {
  border: 1px solid #96bd27;
  border-radius: 5px;
  border-bottom-color: #69941b;
  border-left-color: #7fa721;
  border-right-color: #7fa721;
  color: #fff;
  font-weight: bold;
  text-align: right;
  background: linear-gradient(-180deg,#9fbf00,#80ab00 91%);
}
.btn-submit:hover {
  background: linear-gradient(180deg,#88b500, #c7e23e);
}
.button.btn.btn-submit {
  display: block;
  justify-content: center;
}

/*  APARTADO IMAGÉN-DESCRIPCIÓN  */
.img-prod-descrp {
  text-align: center;
  position: relative;
} 
.img-prod-descrp img {
  width: 90%;
  margin-top: 15px;
}
.img-prod-descrp p {
  margin: 10px;
  font-weight: lighter;
}

/* VIDEO POPUP */
.img-prod-descrp a {
  position: relative;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  color: var(--greenTitan);
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  transition: all .4s ease;
}
.img-prod-descrp a:hover {
  background: rgba(0, 0, 0, 0.8);
}
.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}
.trailer.active {
  visibility: visible;
  opacity: 1;
  
}
.trailer iframe {
  position: relative;
  max-width: 900px;
  outline: none;
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}

/*  ESPECIFICACIONES TÉCNICAS  */
.specs-product {
  margin: 15px;
}
.specs-product h4{
  margin-block-end: 0;
  text-transform: uppercase;
}
.specs-product ul li {
  color: darkgray;
}

/* SECCIÓN : PUEDE QUE TE INTERESE  */
.interese {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.322);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.63);
}
section h5{
  margin-top: 10px;
  font-weight: lighter;
  margin-left: 20px;
  border-bottom: 1px solid rgba(255, 247, 247, 0.308);
  width: 80%;
  padding-bottom: 10px;
}
.imgBx img {
  width: 100%;
}
.interest-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
.interest-container .card-container {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.interest-container .card-container .content-card {
  position: absolute;
  bottom: -160px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: bottom 0.5s;
  cursor: pointer;
}
.interest-container .card-container:hover .content-card {
  bottom: 0px;
}
.interest-container .card-container .content-card .contentBx h3 {
  color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
}
.interest-container .card-container .content-card .contentBx h3 span {
  font-weight: 900;
  color: white;
  text-transform: initial;
}
.interest-container .card-container .content-card .icon-cart {
  position: relative;
  bottom: 10px;
  display: flex;
}
.interest-container .card-container:hover .content-card .icon-cart i{
  color: var(--greenTitan);
}
/* ------ MEDIA QUERIES ------ */

/*Mobile*/
@media screen and (min-width:480px){
  .button-container .btn-submit {
    max-width: 80%;
  }
}

/*Tablets*/
@media screen and (min-width:769px){
  .buy-product p {
    font-size: 1.4rem;
  }
  .specs-product {
    display: flex;
    justify-content: space-around;
  }
  .specs-product ul li {
    line-height: 300%;
  }
  iframe {
    width: 90%;
    height: 400px;
  }
  .title-product h3 {
    font-size: 25px;
  }
  #offer {
    width: 80px;
    padding: 5px;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .row {
    margin-top: 20px;
  }
  .interese {
    max-width: 80%;
    margin: 20px auto;
  }
}

/*Desktop*/
@media screen and (min-width:1024px){
  main {
    display: flex;
  }
  .principal-container {
    width: 70%;
  }
  .info-container {
    width: 40%;
  }
  .buy-product p {
    font-size: 30px;
  }
  .btn-submit {
    padding: 10px;
  }
  .img-prod-descrp {
    margin-top: 20px;
  }
  .specs-product ul li {
    line-height: 200%;
  }
  .img-prod-descrp a {
    margin-top: 10px;
  }
  .specs-product {
    margin: 0;
  }
  .specs-product hr {
    width: 90%;
  }
  .specs-product h4 {
    font-size: 0.9rem;
    text-align: center;
  }
  #offer {
    width: auto;
  }
  .interese {
    max-width: 90%;
    margin: 50px auto;
  }
}