.edit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    /* height: 100vh; */
}

span.text-danger {
    color: rgb(252, 90, 90);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.logo-edit {
    max-width: 100px;
    max-height: 85px;
    margin-bottom: 27px;
    margin-top: 12px;
}

.edit-profile p{
    color: white;
    margin-top: -22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
}

.form-container-edit {
    background: rgba(0, 0, 0, 0.288);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    width: 120%;
    padding: 2rem;
}

.profile-image-user {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.profile-image-user img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 1px 1px 30px -8px rgba(255, 255, 255, 0.603);
-webkit-box-shadow: 1px 1px 30px -8px rgba(255, 255, 255, 0.329);
-moz-box-shadow: 1px 1px 30px -8px rgba(255, 255, 255, 0.418);
}

input.input-style-edit{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.733);
    padding-left: 15px;
    height: 30px;
    border-radius: 50px;
    margin-top: 10px;
    width: 260px;
    outline: none;
    font-size: smaller;
    font-weight: 100;
    opacity: 0.8;
}

input.input-style-edit:focus {
    box-shadow: 0 0 6px white;
    background-color: white;
    outline: none;
}

button.submit-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.952);
    color:black;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    max-height: 48px;
    width: 120px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: all ease 1s;
}

.submit-edit:hover {
    background-color: #0a0d13;
    color: white;
}

.button-container-edit {
    height: 75px;
}

.text-danger {
    color: red;
    font-weight: bold;
    font-size: 11px;
}

.input-container-edit {
    display: flex;
    flex-direction: column;
}

.form-ad-input select {
    border-radius: 50px;
    padding: 5px 90px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.37);
    opacity: 0.8;
}

.input-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.37);
    color: rgba(255, 255, 255, 0.829);
    font-weight: bold;
    padding: 0 1rem;
    border-radius: .9rem;
    width: 260px;
    height: 2rem;
    text-align: center;
    margin-top: 10px;
}

.input-file input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

@media (min-width:768px) {
    div.edit-card {
        align-items: center;
        justify-content: center; 
        height: 100vh;
    }
    .form-container-edit {
        margin-top: 8%;
    }
    .container-info-profile {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }     
}

@media (min-width: 1024px) {
    .form-container-edit {
        background: rgba(0, 0, 0, 0.288);
        width: 900px;
        height: 500px;
        border-radius: 10px;
        backdrop-filter: blur(2.5px);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    }
    .edit-profile p {
        font-size: 1.5rem;
    }
    input.input-style-edit {
        height: 40px;
        width: 300px;
    }
    .form-ad-input select {
        height: 40px;
        width: 300px;
    }
    .input-file {
        width: 300px;
    }
}