* {
    margin: 0;
}
div.top-nav {
    box-shadow: none;
    border: 0.1px solid;
}
body .box-shop {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    background-color: #161623
}
main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}
.text-shop2 {
    display: none;
}
.box-shop .box-shop1 {
    height: 100%;
    width: 50%;
    border: 0.1px solid;
    display: flex;
    align-items: center;
    justify-content: start;
}
.box-shop .box-shop2 {
    height: 100%;
    width: 50%;
    border: 0.1px solid;
    border-left: 0px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.box-shop .box-shop1 .circle1 {
    height: 80%;
    border-radius: 50%;
    border: 1px solid white;
    width: 45px;
    margin-left: 10px;
}
.box-shop .box-shop2 .circle2 {
    height: 80%;
    border-radius: 50%;
    border: 1px solid white;
    width: 45px;
    margin-left: 10px;
}
.box-shop .box-shop1 .circle1 #icon-shop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.text-shop h4 {
    color: white;
    margin-left: 14px;
}
.box-shop .box-shop2 .circle2 #shop-icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
}
.game-keys {
    box-sizing: border-box;
    width: 100%;
    height: 43px;
    background-color: #161623;
    border: 0.1px solid;
    z-index: 1;
}
.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttonEdit {
    text-decoration: none;
    color: white;
    background-color: green;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
}
.buttonDelete {
    text-decoration: none;
    color: white;
    background-color: red;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
}
.game-keys .profile-text {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    color: white;
    gap: 60%;
}
.log-reg {
    display: none;
    height: 0px;
}
.img-container {
    box-sizing: border-box;
    width: 100%;
    background: rgba(15, 15, 15, 0.322);
    border: 0.1px solid;
    display: flex;
    flex-direction: column;
}

.img-card-container {
    display: flex;
    align-items: center;
    padding: 4px;
    flex-wrap: wrap;
    justify-content: start;
}

.profile-image-user {
    justify-content: center;
    align-items: center;
    margin: 20px auto;
} 

.profile-image-user img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    box-shadow: 1px 1px 30px -8px rgba(255, 255, 255, 0.603);
-webkit-box-shadow: 1px 1px 30px -8px rgba(255, 255, 255, 0.329);
-moz-box-shadow: 1px 1px 30px -8px rgba(255, 255, 255, 0.418);
}

/* .userInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
} */

.userInformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px #0a0a0a;
    padding: 1rem;
    border-radius: .8rem;
    margin: 20px;
    background-color: #0000001a;
    border: 1px solid #00000040;
    text-align: center;
}

.userInformation h3 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.userInformation p {
    margin: 1rem 0;
    color: white;
}

.userInformation p:hover {
    text-shadow: 5px 3px 8px rgb(255, 255, 255);
    transform: scale(1.1);
}

form {
    position: relative;
    z-index: 2;
}

@media screen and (min-width:769px){
    body .box-shop {
        margin-top: 60px;
    }
}
@media screen and (min-width:1024px){
    .img-container .img-card-container img {
        width: 23%;
        padding: 13px 0px 0px;
    }
    .game-keys,
    .img-container {
        width: 100%;
    }
    .img-container {
        height: 83%;
    }
    .top-right {
        margin-right: 7%;
    }
    .text-shop {
        display: none;
    }
    .text-dashboard {
        width: 100%;
        height: 9%;
        border: 0.1px solid;
        display: flex;
        align-items: center;
    }
    .button-dashboard {
        width: 100%;
        height: 9%;
        border: 0.1px solid;
        gap: 20%;
        display: flex;
        justify-content: space-between;
        padding: 16px 16px;
    }
    .button-dashboard a {
        text-decoration: none;
        color: white;
        transition: all 1s ease-out;
    }
    .text-shop2 {
        display: block;
        color: white;
        margin-left: 16px;
        font-size: larger;
    }
    div.box-shop {
        display: none;
    }
    .game-keys {
        margin-top: 60px;
        background-color: #161623;
        height: 60px;
    }
    .complete-dashboard {
        display: block;
        display: flex;
    }
    .dashboard {
        display: block;
        border: 0.1px solid;
    }
    .button-dashboard-dropdown {
        background-color:#0b0b11c5;
        margin-top: 39px;
        height: 18%;
        width: 19.7%;
        border: 0.1px solid;
        display: none;
        left: 0;
        position: absolute;
        z-index: 1;
        -webkit-box-shadow: inset -2px -1px 7px 4px rgba(0,0,0,0.57);
-moz-box-shadow: inset -2px -1px 7px 4px rgba(0,0,0,0.57);
box-shadow: inset -2px -1px 7px 4px rgba(0,0,0,0.57);
    }
    .button-dashboard-dropdown1 {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
    }
    .button-dashboard-dropdown h4{
        text-decoration: none;
        color: white;
        margin-left: 16px;
        transition: all .4s ease;
    }

    .button-dashboard-dropdown h4:hover {
        transform: scale(1.1);
    }

    .button-dashboard:hover .button-dashboard-dropdown {
        display: block;
    }
    .social-box {
        height: 25%;
        color: white;
        display: flex;
        gap: 5%;
        margin-left: 8%;
    }
    .redes-social {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        padding: 12px 3px;
    }
    .soporte {
        height: 100%;
    }
    .soporte-box {
        width: 100%;
        height: 33.4%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 16px;
    }
    .keys-container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}