
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.recover-container {
    box-sizing: border-box;
    display: none;
/*     justify-content: center; */
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 18;   
    position: fixed;
    animation-name: aparecer;
    animation-duration: 1s;
    width: 318px;
    height: 480px;
    border-radius: 15px;
    background-color: #13131d;
}

.img-recover {
    border-bottom: 1px solid white;
}
.img-recover img {
    width: 150px;
}

.title-recover {
    color: white;
    text-align: center;
    padding: 0 10px;
}

.title-recover p {
    font-size: 0.8rem;
    color: #fff;
}

.title-recover h3 {
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 0;
    margin-top: 20px;
}

form.recover-input-container{
    width: initial;
    display: column;
    justify-content: center;
}

input.recover-input {
    border: none;
    border-radius: 30px;
    padding: 5px 20px;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

input.recover-input::placeholder {
    font-size: 0.8rem;
    color: rgb(158, 158, 158);
    font-weight: 800;
}

input.recover-input:focus {
    outline: none;
    box-shadow: 0 0 3px white;
}

.button-container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button.btn-submit {
    background-color: gray;
    transition: all 1s ease;
    border-radius: 30px;
}

button.btn-submit:hover {
    background-color: var(--greenTitan);
}

.recover-option {
    display: flex;
    flex-direction: column;
}
.recover-option p {
    margin-top: 20px;
    text-align: center;
}

.recover-option p, a {
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;
    margin-top: 10px;
    transition: all .4s ease;
}

.recover-option a:hover {
    text-decoration: none;
    color: var(--greenTitan);
}