
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

div.register-card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 480px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.close {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 6px 10px;
    color: white;
  }
  
  .close:hover {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    max-width: 150px;
    max-height: 130px;
}

.form-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    margin-top: 25px;
}

.input-container,
.input-style {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 7px;
    height: 8vh;
    width: 250px;
    outline: none;
}

input.input-style{
    border: 1px solid black;
    padding-left: 15px;
}

.error-message {
    display: none;
}

button.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #fff;
    color:black;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    height: 8vh;
    width: 120px;
    cursor: pointer;
    outline: none;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

hr {
    background-color: white;
    width: 220px;
    margin-top: 60px;
    margin-left: 12px;
}

@media (min-width:481px) {
    div.register-card {
        width: 90vw;
    }
}

@media (min-width:768px) {
    div.register-card {
        max-width: 360px;
        
    }

    
}

@media (min-width:1024px) {

    .form-container {
        margin-top: 0%;
    }
    div.register-card {
        max-width: 360px;
        display: flex;
        align-items: center;
        height: 75vh;
        max-height: 80vh;
    }

    hr {
        margin-top: 30px;
    }

    .input-container,
    .input-style {
        border-radius: 20px;
        height: 7vh;
        width: 250px;
        outline: none;
    }

    button.submit {
        height: 7vh;
    }

}

@media (min-width:1280px) {


    div.register-card {
        max-width: 360px;
        display: flex;
        align-items: center;
        height: 75vh;
        max-height: 80vh;
    }

    hr {
        margin-bottom: 20px;
    }

    .input-container,
    .input-style {
        border-radius: 20px;
        height: 7vh;
        width: 250px;
        outline: none;
    }

    button.submit {
        height: 7vh;
    }

}

@media (min-width:1440px) {


    div.register-card {
        max-width: 360px;
        display: flex;
        align-items: center;
        height: 75vh;
        max-height: 80vh;
    }

    hr {
        margin-bottom: 0%;
    }

    .input-container,
    .input-style {
        border-radius: 20px;
        height: 7vh;
        width: 250px;
        outline: none;
    }

    button.submit {
        height: 7vh;
    }

}