div.register-card {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}



div.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.logo-register {
    max-width: 100px;
    max-height: 85px;
    margin-bottom: 27px;
    margin-top: 12px;

}

div .registrate p{
    color: white;
    margin-top: -22px;
    font-weight: bold;
}

.form-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

input.input-style{
    border: 1px solid black;
    padding-left: 15px;
    height: 36px;
    border-radius: 20px;
    margin-bottom: 3px;
    margin-top: 17px;
    max-height: 53px;
    width: 250px;
    outline: none;
    font-size: smaller;
}

.error-message {
    display: none;
}

button.submit-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #fff;
    color:black;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    max-height: 48px;
    width: 120px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    
}

.button-container-reg {
    height: 48px;
}

.redirect-register h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
    margin-bottom: 11px;
}

@media (min-width:768px) {
    div.register-card {
        align-items: center;
        justify-content: center;
        margin-top: 6%;
        
    }
}



