div.register-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

div.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

.logo-register {
    max-width: 100px;
    max-height: 85px;
    margin-bottom: 27px;
    margin-top: 12px;
}

div .registrate p{
    color: white;
    margin-top: -22px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem; 
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ffffff 0px 0px 20px, #f7f7f7 0px 0px 30px, #ffffff 0px 0px 40px, #ffffff 0px 0px 50px, #ffffff 0px 0px 75px;
}

.form-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

input.input-style{
    border: 1px solid black;
    padding-left: 15px;
    height: 36px;
    border-radius: 20px;
    margin-bottom: 3px;
    margin-top: 17px;
    max-height: 53px;
    width: 250px;
    outline: none;
    font-size: smaller;
}

button.submit-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    background: #fff;
    color:black;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    max-height: 48px;
    width: 120px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    transition: all ease 1s;
}

button.submit-register:hover {
    background-color: #161623;
    color: white;
}

.button-container-reg {
    height: 48px;
}

span#submitErrors.text-danger {
    color: rgb(252, 90, 90);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#submitErrors {
    margin-top: 30px;
}

.input-container-reg {
    display: flex;
    flex-direction: column;
}

.redirect-register span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom: 11px;
    transition: all .4s ease;
}

.redirect-register span:hover {
    color: #161623;
    font-weight: bold;
}

@media (min-width:768px) {
    div.register-card {
        align-items: center;
        justify-content: center; 
    }
    .form-container {
        margin-top: 16%;
    }       
}

@media (min-width: 1024px) {
    .form-container {
        width: 450px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        backdrop-filter: blur(2.5px);
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    }    
}
