@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('background.css');
@import url('header.css');
@import url('home-main.css');
@import url('footer.css');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.register-card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 310px;
    height: 480px;
    border-radius: 12px;
    background-color: #161623;
    z-index: 1;
    border: 1px solid black;
    margin: 10% auto;
}

.close {
    text-align: center;
    cursor: pointer;
    top: 2%;
    right: 2%;
    padding: 0px 7px;
    font-size: 18px;
    color: white;
  }
  
  .close:hover {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
    }

div.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.logo-register {
    max-width: 150px;
    max-height: 130px;
}

.form-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}

.input-container,
.input-style {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin-top: 7px;
    max-height: 53px;
    width: 250px;
    outline: none;
}

input.input-style{
    border: 1px solid black;
    padding-left: 15px;
}

.error-message {
    display: none;
}

button.submit-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #fff;
    color:black;
    border-radius: 25px;
    text-decoration: none;
    border: 1px solid black;
    height: 100%;
    max-height: 48px;
    width: 120px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    font-weight: bold;
}

.redirect-register h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-top: 18px;
    cursor: pointer;
}

.registrate p {
    font-weight: bold;
    color: white;
}


@media (min-width:481px) {
    div.register-card {
        max-width: 70vw;
    }
}

@media (min-width:768px) {
    div.register-card {
        max-width: 360px;
        
    }
}

@media (min-width:1024px) {

    .form-container {
        margin-top: 0%;
    }
    div.register-card {
        max-width: 360px;
        align-items: center;
    }

    .input-container,
    .input-style {
        border-radius: 20px;
        height: 7vh;
        width: 250px;
        outline: none;
    }

    button.submit {
        height: 7vh;
    }

}

@media (min-width:1280px) {


    div.register-card {
        max-width: 360px;
        align-items: center;
        max-height: 80vh;
    }

    .input-container,
    .input-style {
        border-radius: 20px;
        height: 7vh;
        width: 250px;
        outline: none;
    }

    button.submit {
        height: 7vh;
    }

}

@media (min-width:1440px) {


    div.register-card {
        max-width: 360px;
        align-items: center;
        max-height: 80vh;
    }

    .input-container,
    .input-style {
        border-radius: 20px;
        height: 7vh;
        width: 250px;
        outline: none;
    }

    button.submit {
        height: 7vh;
    }

}