@import url('general.css');
@import url('scroll.css');

/* Dropdowns */

.main-search {
    min-height: 75vh;
}
.sort-by-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.sort-by-content{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #807c7cea;
    width: 170px;
    border-radius: 5px;
    margin-top: -15%;
    padding: 10px;
    right: -5px;
}

.sort-by-dropdown:hover .sort-by-content {display: flex;}

/* Search settings */

/* .search-settings {
    background-color: #00000036;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
} */

.main-filters-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.img-containerflex {
    width: 45%;
}

/* .filters-hamburguer {
    display: flex;
    margin-top: 10px;
}

.filters-hamburguer i {
    margin-left: 5px;
    margin-top: 4.5px;
    font-size: 10px;
} */

.search-settings p {
    font-size: 12px;
    width: 15%;
    width: auto;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
}

.main-filters-search p {
    padding-right: 2px;
    border-right: 1px solid white;
}

.search-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00000036;
    margin-top: 40px;
    padding-top: 5px;
    color: white;
} 

.search-searchbar h2 {
    font-size: 1rem;
}

.search-searchbar h2:last-child {
    text-transform: capitalize;
    margin-left: 1rem;
}


/* Discover */

/* .discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
} */

.games > .game:first-child {
    margin-top: 2rem;
}

.games > .game:last-child {
    margin-bottom: 10px;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #00000036;
    color: whitesmoke;
    font-weight: 600;
    width: 90%;
    text-align: center;
    border-radius: 0 0px 10px 10px;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

/* .game a {
    width: 40%;
    height: 100%;
} */

.game img {
    width: 100%;
    object-fit: cover;
    max-height: 150px;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.144);
}

.game {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    max-height: 199px;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-text p {
    display: flex;
    padding: 5px;
    flex-direction: column;
    text-align: right;
    border-radius: 5px;
}

.price {
    display: flex;
    justify-content: right;
    gap: 5px;
    font-weight: bold;
}

.sale-box {
    background-color: #8ebd004a;
    opacity: 0.8rem;
}

.game-discover-hr {
    margin: 0;
    width: 100%;
    background-color: black;
    height: 5px;
    border: 1px solid black;
}

.see-more-d {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #807c7c36;
    width: 40%;
    max-height: 60px;
    margin-bottom: 15px;
    border-radius: 0 0 15px 15px;
}

.see-more-d button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

.polygon-container-special {
    background-color: var(--greenTitan);
    width: 50px;
    height: 90px;
    position: absolute;
    top: 0px;
    right: 1rem;
    box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
-webkit-box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
-moz-box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 50% 70%, 0 100%, 0 100%);
}

.polygon-offer-info {
    font-size: 1rem;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.polygon-offer-info p {
    margin: 20px 0 0 0;
    font-weight: bold;
    text-shadow: var(--neon-shadow);
}

/*  FOR HOVER PRODUCTS */

.polygon-minicontainer-special {
    background-color: var(--green2Titan);
    width: 30px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 1rem;
    box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
-webkit-box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
-moz-box-shadow: -9px -8px 46px -1px rgba(0,0,0,0.61) inset;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 50% 70%, 0 100%, 0 100%);
}

.offer-info {
    font-size: 0.7rem;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.offer-info p {
    margin: 10px 0 0 0;
    font-weight: bold;
    text-shadow: var(--neon-shadow);
}


/* Media querys */

@media screen and (min-width: 768px) {
    
    .search-searchbar h2{
        margin-top: 60px;
        font-size: 1.5rem;
        text-shadow: var(--neon-shadow);
    }

    .games {
        margin: 0 auto;
        width: 80%;
    }

}

@media screen and (min-width: 1024px){
    .img-containerflex {
        width: 25%;
    }
    .game-text {
        flex-direction: row;
        flex-grow: 0.8;
    }
    .game-text p {
        font-size: 1.5rem;
    }
    .price {
        flex-direction: column;
    }
}