@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* @import url('login.css'); */
@import url('login.css');
@import url('register.css');
@import url('background.css');
@import url('header.css');
@import url('footer.css');

.sort-by-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
}

.sort-by-content{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: #807c7cea;
    width: 170px;
    border-radius: 5px;
    margin-top: -15%;
    padding: 10px;
    right: -5px;
}

.sort-by-dropdown:hover .sort-by-content {display: flex;}

.search-settings {
    background-color: #807c7c36;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

.main-filters-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.filters-hamburguer {
    display: flex;
    margin-top: 10px;
}

.filters-hamburguer i {
    margin-left: 5px;
    margin-top: 4.5px;
    font-size: 10px;
}

.search-settings p {
    font-size: 12px;
    width: 15%;
    width: auto;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
}

.main-filters-search p {
    padding-right: 2px;
    border-right: 1px solid white;
}

/* Discover */

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

.games > .game:first-child {
    margin-top: 10px;
}

.games > .game:last-child {
    margin-bottom: 10px;
}

.games {
    display: flex;
    flex-direction: column;
    background-color: #807c7c36;
    margin-top: 0;
    width: 100%;
    color: whitesmoke;
    font-weight: 600;
    justify-content: space-around;
    width: 95%;
    text-align: center;
    border-radius: 0 0px 10px 10px;
}

.game a {
    width: 40%;
    height: 100%;
}

.game img {
    width: 100%;
    height: 100%;
    max-height: 150px;
}

.game {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    max-height: 199px;
}

.game-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.game-text p {
    display: flex;
    padding: 0;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.sale-box {
    background-color: hotpink;
}

.game-discover-hr {
    margin: 0;
    width: 100%;
}

.see-more-d {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #807c7c36;
    width: 40%;
    max-height: 60px;
    margin-bottom: 15px;
    border-radius: 0 0 15px 15px;
}

.see-more-d button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    border: none;
}

/* Media querys */

@media screen and (min-width: 768px) {
    
    .search-settings {
        margin-top: 60px;
    }

    .search-settings p {
        font-size: 18px;
    }

    .filters-hamburguer i {
        margin-left: 5px;
        margin-top: 9.5px;
        font-size: 10px;
    }

}