<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') -%>
    <title>Error 404</title>
    <link rel="stylesheet" href="/css/error.css"> 
</head>

<%- include('./partials/background') -%>

<body>
    <section>
        <div class="title">
            <span>4</span>
            <span>0</span>
            <span>4</span>
        </div>

        <div class="not-found">
            <p> Page Not Found..!</p>
        </div>
        <div class="home-button">
            <a href="http://localhost:3000/"><i class="fas fa-home"></i></a>
        </div>
    </section>

</body>
