<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="icon" href="/img/isotipo-white.ico">
</head>
<body>

    <%- include('./partials/background') -%>

    <%- include('./partials/logReg') -%>

    <%- include('./partials/header') -%>
    
    <main>
        <h3 class="detalle-compra">Detalles de compra</h3>
        <div class="detail-cart">         
            <div class="game-cart">
                <div class="game-name">
                    <img src="/img/ni-no-kuni-2.jpg" alt="">
                    <h4>Ni No Kuni II</h4>
                </div>
                <div class="price-flex">
                    <p>$1999.99</p>
                    <strong id="remove-all">eliminar</strong>
                </div>  
            </div>

            <div class="game-cart">
                <div class="game-name">
                    <img src="/img/battlefield-cart.png" alt="">
                    <h4>Battlefield 2042</h4>
                </div>            
                <div class="price-flex">
                    <p>$1999.99</p>
                    <strong id="remove-all">eliminar</strong>
                </div>  
            </div>
        </div>

        <div class="confirm-cart">
            <div class="total-cart">
                <p>Total estimado:</p>
                <div class="price-flex">
                    <p>$1999.99</p>
                    <strong id="remove-all">eliminar todo</strong>
                </div>          
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-submit">Comprar</button>
            </div>
        </div>
    </main>

    <section>
        <h5>Puede que te interese</h5>
        <div class ="interest-container">
            <div class="card-container">
                <div class="imgBx">
                    <a href="http://localhost:3000/product/detail"><img src="/img/naraka.png" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>Naraka:Bladepoint<br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>
                               
            </div>

            <div class="card-container">
                <div class="imgBx">
                    <a href="http://localhost:3000/product/detail"><img src="/img/kunismall.png" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>Ni no Kuni II <br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>             
            </div>   
            
            <div class="card-container">
                <div class="imgBx">
                    <a href="http://localhost:3000/product/detail"><img src="/img/gta.png" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>gta<br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>            
            </div> 

            <div class="card-container">
                <div class="imgBx">
                    <a href="http://localhost:3000/product/detail"><img src="/img/fall.jpg" alt=""></a>
                </div>
                <div class="content-card">
                    <div class="contentBx">
                        <h3>Fall Guys<br> <span>$199.99</span> </h3>
                    </div>
                    <div class="icon-cart">
                        <i class="fas fa-cart-plus"></i>
                    </div> 
                </div>               
            </div> 
        </div>       
    </section>
    
    <%- include('./partials/footer') -%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>