<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cargar producto</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> 
    <link rel="stylesheet" href="/css/productLoad.css">
    <link rel="icon" href="img/isotipo-white.ico">
    
</head>
<body>
    <div class="bolita1"></div>
    <div class="bolita2"></div>
    
    <div class="logReg">
    
        <div class="register-card" id="register-card">
            <span class="close" id="close">x</span>
            <div class="register-container">
                <div class="form-container">
                    <img src="/img/logo.png" alt="logotipo" class="logo-register">
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su usuario">
                        <span class="error-message">Debe ingresar su usuario</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                        <span class="error-message">Debe ingresar su email</span>
                    </div>
                    <div class="input-container">
                        <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                        <span class="error-message">Debe ingresar su contraseña</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                        <button type="submit" class="submit-register">Registrarse</button>
                    </div>
                    <div class="redirect-register">
                        <span>
                            <h5>¿tienes una cuenta?</h5>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    
    
            <!-- Login Popup -->
    
            <div class="form_container" id="login-card">
                <div class="card">
                    <span class="close" id="close">x</span>
                    <div class="content">
                        <img src="img/logo.png" alt="logotipo" class="logo-login">
                        <form>
                            <div class="form">
                                <div class="input-container">
                                    <input class="input-style" type="email" name="email" placeholder="Ingrese su email">
                                    <span class="error-message">Debe ingresar su email</span>
                                </div>
                                <div class="input-container">
                                    <input class="input-style" type="password" name="pass" placeholder="Contraseña">
                                    <span class="error-message">Debe ingresar su contraseña</span>
                                </div>
                                <div class="check">
                                    <label class="recordar" for="recordar">Recordarme</label>
                                    <input type="checkbox" name="recordar" id="recordar">
                                </div>
                                <div class="button-container">
                                    <span class="error-message">Credenciales inválidas</span>
                                    <button type="submit" class="submit-login">Ingresar</button>
                                </div>
                                <div class="last-text">
                                    <span>
                                        <h5>¿Olvidaste tu contraseña?</h4>
                                    </span>
                                    <span id="create-account">Aún no tengo cuenta</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    
            </div>
    </div>

    <nav>

        <div class="top-nav">

            <div class="top-left">

                <div class="hamburguer-icon">
                    <i class="fas fa-bars" id="hamburguer-icon"></i>
                </div>

                <div class="nav-logo">
                    <a href="http://localhost:3000/"><img src="img/logo.png" alt="Titan Games Logo"></a>
                </div>

                <div class="store-dropdown">
                    <p>Tienda</p>
                    <div class="dropdown-content">
                        <p>Ofertas</p>
                        <p>Mas vendido</p>
                    </div>
                </div>

            </div>

            <div class="top-right">

                <a href="http://localhost:3000/search">
                    <i class="fas fa-search"></i>
                </a>

                <a href="http://localhost:3000/productCart">
                    <i class="fas fa-shopping-cart"></i>
                </a>

                <div class="notificacion-dropdown">
                    <i class="fas fa-bell"></i>
                    <div class="dropdown-content-notificacion">
                        <p>No tienes notificaciones nuevas</p>
                    </div>
                </div>

                <i class="fas fa-user-circle" id="user-icon"></i>

            </div>

        </div>

        <div class="hamburguer slide-right" id="hamburguer">

            <div class="username">
                <i class="fas fa-user-circle"></i>
                <h3>Username</h3>
                <span class="close" id="close">x</span>
            </div>
            <hr>



            <div class="store-hamburguer">
                <div class="store-hamburguer-main">
                    <h3>Tienda</h3><i class="fas fa-caret-down"></i>
                </div>
                <div class="store-hamburguer-dropdown">
                    <p>Ofertas</p>
                    <p>Mas vendido</p>
                </div>
            </div>
            <hr>

            <div class="hamburguer-logo">
                <img src="img/logo.png" alt="Titan Games Logo">
            </div>

        </div>

    </nav>

    <!-- FORMULARIO DE CARGA DE PRODDUCTOS -->
    <div class="bar-product">
        <p data-target="#section1">Carga de Productos</p>
        <p data-target="#section2">Stock</p>
        <p data-target="#section3">Ofertas</p>          
    </div>

    <section data-content id="section1" class="active">               
        <form class="load-product">
            
            <div class="desc-product-load">
                <div class="field-product">
                    <label for="">PRODUCTO:</label>
                    <input class="style-input" type="text" name="product">
                </div>
                <div class="field-flex">
                    <div class="field-gen">
                        <label for="">GÉNERO:</label>
                        <select class="style-select" name="genero" id="">
                            <option value="" hidden selected>Elija el género</option>
                            <option value="">género 1</option>
                            <option value="">género 2</option>
                            <option value="">género 3</option>
                        </select>
                    </div>
                    <div class="field-subgen">   
                        <label for="">SUBGÉNERO:</label>
                        <select class="style-select" name="genero" id="">
                            <option value="" hidden selected>Elija el subgénero</option>
                            <option value="">subgénero 1</option>
                            <option value="">subgénero 2</option>
                            <option value="">subgénero 3</option>
                        </select>
                    </div>                     
                </div>
                <div class="display-flex-box">
                    <div class="desc-flex">
                        <label for="">DESCRIPCIÓN:</label>
                        <textarea class="style-textarea" name="" id="" cols="30" rows="20"></textarea>
                    </div>
                    <div class="desc-flex">
                        <label for="">REQUISITOS:</label>
                        <textarea class="style-textarea" name="" id="" cols="30" rows="20"></textarea>
                    </div>
                </div>
                
                <div class="fields">
                    <div class="field-product">
                        <label for="">KEY:</label>
                        <input class="style-input" type="text" name="product">
                    </div>
                    <div class="field-product">
                        <label for="">PRECIO:</label>
                        <input class="style-input" type="number" name="product">
                    </div>  
                </div>
            </div>           
            

            <!-- CARGAR IMÁGENES -->
            <div class="other-box">
                <div class="grid">
                    <p>IMAGENES: </p>
                    <div class="form-element">
                        <input type="file" id="file-1" accept="image/*">
                        <label for="file-1" id="file-1-preview">
                            <img src="/img/img-default.png" alt="">
                        </label>
                    </div>
                </div>  
                <div class="form-elements-flex">
                    <div class="form-elements-ind">
                        <input type="file" id="file-2" accept="image/*">
                            <label for="file-2" id="file-2-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-3" accept="image/*">
                            <label for="file-3" id="file-3-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-4" accept="image/*">
                            <label for="file-4" id="file-4-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                    <div class="form-elements-ind">
                        <input type="file" id="file-5" accept="image/*">
                            <label for="file-5" id="file-5-preview">
                                <img src="/img/img-default.png" alt="">
                            </label>
                    </div>
                </div>
    
                <div class="field-trailer">
                    <label for="">TRAILER:</label>
                    <input class="style-input" type="text" name="trailer" placeholder="URL">
                </div>
    
                <div class="button-container">
                    <button type="submit" class="btn btn-submit">FINALIZAR</button>
                </div>
            </div>
            
        </form>
    </section>

    <section data-content id="section2" class="section-2">
        <h2>STOCK</h2>
        <div class="detail-stock">         
            <div class="game-stock">
                <div class="game-name">
                    <img src="img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/battlefield-cart.png" alt="">
                    <h5>Battlefield 2042</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>
        </div>
    </section>

    <section data-content id="section3">
        <h2>OFERTAS</h2>
        <div class="detail-stock">         
            <div class="game-stock">
                <div class="game-name">
                    <img src="img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>

            <div class="game-stock">
                <div class="game-name">
                    <img src="img/kunismall.png" alt="">
                    <h5>Ni No Kunni II</h5>
                </div>            
                <div class="price">
                    <p>$1999.99</p>
                    <strong id="remove">eliminar</strong>
                </div>  
            </div>
        </div>   
    </section>

    <footer> 
        <div class="logo-footer">
            <img src="/img/logo.png" alt="logo">
        </div>
        <div class="box-footer-social">
            <p>SEGUINOS</p>
            <div class="social">
                <a href="https://www.instagram.com/_titan_games_/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/Titan-Games-markteplace-109552258094094" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitch.tv/titangamesmarket" target="_blank"><i class="fab fa-twitch"></i></a>
                <a href="https://twitter.com/_Titan_Games_" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="box-info">
            <i class="fas fa-shield-alt"></i>
            <ul>
                <li><a href="http://localhost:3000/privacyPolitics" target="_blank">Políticas de Privacidad</a></li>
                <li><a href="http://localhost:3000/about" target="_blank">Acerca de</a></li>
                <li><a href="mailto:titanGames@correo.com">Contactanos</a></li>
            </ul> 
        </div>
    </footer>

    <script src="js/productLoad.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="pa384-JZR6SpepU02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>