<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan Games</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/search.css">
    <link rel="icon" href="img/isotipo-white.ico">
    <script src="https://kit.fontawesome.com/f0097a676d.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('./partials/background') -%>

    <%- include('./partials/logReg') -%>

    <%- include('./partials/header') -%>

    <main>

        <div class="search-searchbar">
            <i class="fas fa-search"></i><input type="text" placeholder="Search for...">
        </div>

        <div class="search-settings">

            <div class="filters-hamburguer">

                <p>Filtros  <i class="fas fa-angle-down"></i></p>

            </div>

            <div class="sort-by-dropdown">
                <p>Ordenar por   <i class="fas fa-angle-down"></i></p>
                <div class="sort-by-content">
                    <p>Todo</p>
                    <p>Popular</p>
                    <p>En oferta</p>
                    <p>Más jugado</p>
                </div>
            </div>

        </div>

        <div class="discover">

            <!-- 
            166-219 section1
            221-274 section2
            276-329 section3
            -->

            <section class="games" id="discover-games">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>
                <hr class="game-discover-hr">

                <div class="game">

                    <a href="http://localhost:3000/productDetail">                        
                        <img src="img/ni-no-kuni-2.jpg" alt="ni no kuni 2" class="games-img-w">
                    </a>

                    <div class="game-text">
                        <p>Nombre del juego</p>

                        <div class="price">
                            <p class="sale-box">-10%</p>
                            <p>1000$</p>
                        </div>

                    </div>

                </div>

            </section>

        </div>

    </main>

    
    <%- include('./partials/footer') -%>

</body>

</html>