<head>
    <link rel="stylesheet" href="/css/adminHeader.css">
</head>

<nav>

    <div class="top-nav">
        <div class="top-left">
            <div class="hamburguer-icon">
                <a href="/admin/adminMain/<%=userInSession.id%>"><i class='bx bxs-dashboard' id="btn-dashboard"></i></a>
            </div>

            <div class="nav-logo">
                <a href="/admin/adminMain/<%=userInSession.id%>"><i class='bx bxs-dashboard' id="btn-dashboard"></i></a>
            </div>
        </div>

        <div class="top-right">

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar" class="search-form_input">
                <label class="label-header" for="buttonHeaderSubmit"><i class="fas fa-search"></i></label>
                <button type="submit" class="search-form_button" id="buttonHeaderSubmit"></i></button>
            </form>
            
            <div class="user-icon">
                <% if (userInSession) { %>
                     <div class="profile-image-user-icon">
                        <img src="/img/users/<%= userInSession.avatar %>" alt="Profile Image"></i><span class="session"></span>
                    </div> 
                    <div class="dropdown-content-user-main-nav">
                        <a href="/user/profile">Perfil</a>
                    </div>
                <% } else { %>
                    <a href="/user/login"><i class="fas fa-user-circle hamburguer-account user-icon"></i></a>
                <% } %>                
            </div>
            
        </div>

    </div>

</nav>