<footer>
    <div class="logo-footer">
        <img src="/img/logo.png" alt="logo">
    </div>
    <div class="box-footer-social">
        <p>SEGUINOS</p>
        <div class="social">
            <a href="https://www.instagram.com/_titan_games_/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/Titan-Games-markteplace-109552258094094" target="_blank"><i
                    class="fab fa-facebook"></i></a>
            <a href="https://www.twitch.tv/titangamesmarket" target="_blank"><i class="fab fa-twitch"></i></a>
            <a href="https://twitter.com/_Titan_Games_" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="box-info">
        <i class="fas fa-shield-alt"></i>
        <ul>
            <li><a href="http://localhost:3000/politics" target="_blank">Políticas de Privacidad</a></li>
            <li><a href="http://localhost:3000/about" target="_blank">Acerca de</a></li>
            <li><a href="mailto:titanGames@correo.com">Contactanos</a></li>
        </ul>
    </div>
</footer>