<nav>

    <div class="top-nav">

        <div class="top-left">

            <div class="hamburguer-icon">
                <i class="fas fa-bars" id="hamburguer-icon"></i>
            </div>

            <div class="nav-logo">
                <a href="http://localhost:3000/"><img src="/img/logo.png" alt="Titan Games Logo" class="logoImgHeader"></a>
            </div>

            <div class="store-dropdown">
                <p>Tienda</p>
                <div class="dropdown-content">
                    <a href="http://localhost:3000/">
                        <p>Inicio</p>
                    </a>
                    <a href="http://localhost:3000/productOffer"><p>Ofertas</p></a>
                    <a href="http://localhost:3000/bestSellers"><p>Más vendidos</p></a>                    
                   
                </div>
            </div>

        </div>

        <div class="top-right">

            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Buscar" class="search-form_input">
                <label class="label-header" for="buttonHeaderSubmit"><i class="fas fa-search"></i></label>
                <button type="submit" class="search-form_button" id="buttonHeaderSubmit"></i></button>
            </form>

            <% if (userInSession) { %>
                <div class="notificacion-dropdown-main-nav">
                    <div class="notificacion-icon-main-nav">
                        <a href="/product/cart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            <% } %>
            
            <div class="user-icon">
                <% if (userInSession) { %>
                    <!-- <div class="userLoggedIcon">
                        <i class="fas fa-user-circle hamburguer-account user-icon"></i><span class="session"></span></a>
                    </div>  -->
                    <div class="profile-image-user-icon">
                        <img src="/img/users/<%= userInSession.avatar %>" alt="Profile Image"></i><span class="session"></span>
                    </div> 
                    <div class="dropdown-content-user-main-nav">
                        <a href="/user/profile">Perfil</a>
                        <a href="/user/logout">Cerrar sesión</a>
                    </div>
                    <% } else { %>
                        <a href="/user/login"><i class="fas fa-user-circle hamburguer-account user-icon"></i></a>
                        <% } %>                
                    </div>
                    <% if (userInSession.rol === 1 || userInSession.rol === 2) { %>
                        <div class="admin-dashlink">
                            <a href="/admin/adminMain/<%=userInSession.id%>"><small>Hey, Admin!</small></a>
                        </div>                       
                    <% } %>
                    
        </div>

    </div>

    <div class="hamburguer slide-right" id="hamburguer">

        <div class="username" id="hamburguer-account">
            <div class="hamburguer-username" id="hamburguer-account">
                <% if (userInSession) { %>
                    <div class="profile-image-user-icon">
                        <a href="/user/profile"><img src="/img/users/<%= userInSession.avatar %>" alt="Profile Image"></i><span class="session"></span></a>
                    </div> 
                    <h3 id="hamburguer-account"><%- userInSession.userName %></h3>
                <% } else { %>
                    <a href="/user/login"><i class="fas fa-user-circle hamburguer-account"></i></a>
                    <h3 id="hamburguer-account">user</h3>
                <% } %>
                <span class="close" id="close">x</span>
            </div>
        </div>
        <hr>

        <div class="store-hamburguer">
            <div class="store-hamburguer-main" id="store-hamburguer">
                <h3 id="store-hamburguer">Tienda</h3><i class="fas fa-caret-down"></i>
            </div>
            <div class="store-hamburguer-dropdown" id="store-hamburguer-dropdown">
                <a href="http://localhost:3000/">
                    <i class="fas fa-home" class="icon-dropdown"></i> <p>Inicio</p> 
                </a>
                <a href="/productOffer">
                    <i class="fas fa-shopping-bag" class="icon-dropdown"></i><p>Ofertas</p>
                </a>
                <a href="bestSellers">
                    <i class="fas fa-clipboard-check" class="icon-dropdown"></i><p>Mas vendido</p>
                </a>
                <% if (userInSession) { %>
                    <a href="/productCart"><i class="fas fa-cart-plus" class="icon-dropdown"></i><p>Carrito</p></a>
                    <a href="/user/logout"><i class="fas fa-sign-out-alt"></i><p>Cerrar sesión</p></a>
                <% } %>
            </div>
        </div>
        

        <div class="hamburguer-logo">
            <img src="img/logo.png" alt="Titan Games Logo">
        </div>

    </div>

</nav>