<nav>

    <div class="top-nav">

        <div class="top-left">

            <div class="hamburguer-icon">
                <i class="fas fa-bars" id="hamburguer-icon"></i>
            </div>

            <div class="nav-logo">
                <a href="http://localhost:3000/"><img src="img/logo.png" alt="Titan Games Logo"></a>
            </div>

            <div class="store-dropdown">
                <p>Tienda</p>
                <div class="dropdown-content">
                    <a href="http://localhost:3000/">
                        <p>Inicio</p>
                    </a>
                    <a href=""><p>Ofertas</p></a>
                    <a href=""><p>Mas vendido</p></a>                    
                    <div class="hamburguer-cart">
                        <a href="http://localhost:3000/productCart">
                            <p>Carrito</p>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="top-right">

            <a href="http://localhost:3000/search">
                <i class="fas fa-search"></i>
            </a>

            <div class="notificacion-dropdown-main-nav">
                <div class="notificacion-icon-main-nav">
                    <i class="fas fa-bell"></i>
                </div>
                <div class="dropdown-content-notificacion-main-nav">
                    <p>No tienes notificaciones nuevas</p>
                </div>
            </div>
            
            <div class="user-icon">
                <i class="fas fa-user-circle hamburguer-account user-icon" id="hamburguer-account"></i>
            </div>

        </div>

    </div>

    <div class="hamburguer slide-right" id="hamburguer">

        <div class="username" id="hamburguer-account">
            <div class="hamburguer-username" id="hamburguer-account">
                <i class="fas fa-user-circle hamburguer-account"></i>
                <h3 id="hamburguer-account">Username</h3>
                <span class="close" id="close">x</span>
            </div>
        </div>
        <hr>

        <div class="store-hamburguer">
            <div class="store-hamburguer-main" id="store-hamburguer">
                <h3 id="store-hamburguer">Tienda</h3><i class="fas fa-caret-down"></i>
            </div>
            <div class="store-hamburguer-dropdown" id="store-hamburguer-dropdown">
                <a href="http://localhost:3000/">
                    <p>Inicio</p>
                </a>
                <p>Ofertas</p>
                <p>Mas vendido</p>
                <div class="hamburguer-cart">
                    <a href="http://localhost:3000/productCart">
                        <p>Carrito</p>
                    </a>
                </div>
            </div>
        </div>
        <hr>


        <div class="notificacion-dropdown-hamburguer">
            <div class="notificacion-content-hamburguer" id="notificacion-hamburguer">
                <p id="notificacion-hamburguer">Notificaciones</p><i class="fas fa-caret-down"></i>
            </div>
            <div class="dropdown-content-notificacion-hamburguer" id="notificacion-hamburguer-dropdown">
                <p>No tienes notificaciones nuevas</p>
            </div>
        </div>
        <hr>

        <div class="hamburguer-logo">
            <img src="img/logo.png" alt="Titan Games Logo">
        </div>

    </div>

</nav>