<nav>

    <div class="top-nav">

        <div class="top-left">

            <div class="hamburguer-icon">
                <i class="fas fa-bars" id="hamburguer-icon"></i>
            </div>

            <div class="nav-logo">
                <a href="http://localhost:3000/"><img src="img/logo.png" alt="Titan Games Logo"></a>
            </div>

            <div class="store-dropdown">
                <p>Tienda</p>
                <div class="dropdown-content">
                    <p>Ofertas</p>
                    <p>Mas vendido</p>
                </div>
            </div>

        </div>

        <div class="top-right">

            <a href="http://localhost:3000/search">
                <i class="fas fa-search"></i>
            </a>

            <a href="http://localhost:3000/productCart">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <div class="notificacion-dropdown">
                <i class="fas fa-bell"></i>
                <div class="dropdown-content-notificacion">
                    <p>No tienes notificaciones nuevas</p>
                </div>
            </div>

            <i class="fas fa-user-circle" id="user-icon"></i>

        </div>

    </div>

    <div class="hamburguer slide-right" id="hamburguer">

        <div class="username">
            <i class="fas fa-user-circle"></i>
            <h3>Username</h3>
            <span class="close" id="close">x</span>
        </div>
        <hr>



        <div class="store-hamburguer">
            <div class="store-hamburguer-main">
                <h3>Tienda</h3><i class="fas fa-caret-down"></i>
            </div>
            <div class="store-hamburguer-dropdown">
                <p>Ofertas</p>
                <p>Mas vendido</p>
            </div>
        </div>
        <hr>

        <div class="hamburguer-logo">
            <img src="img/logo.png" alt="Titan Games Logo">
        </div>

    </div>

</nav>