<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body class='about-Us'>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <!-- SOBRE NOSOTROS -->
    <div class="page1">
        <div class="text-log">
            <img src="/img/logo.png" alt="">
        </div>
    </div>

    <section class="aboutus-section">

        <div class="page2" style="color:antiquewhite" style="margin-top: 200px;" >
            <h1>Sobre Nosotros</h1>
        </div>

        <div class="icons-box">

            <div class="icon-about">
                <div class="icon">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="title">
                    <h4>Compra Simplificada</h4>
                </div>
            </div>

            <div class="icon-about">
                <div class="icon">
                    <i class="fas fa-bolt"></i>
                </div>
                <div class="title">
                    <h4>Super Ofertas</h4>
                </div>
            </div>

            <div class="icon-about">
                <div class="icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="title">
                    <h4>Privacidad Asegurada</h4>
                </div>
            </div>

            <div class="icon-about">
                <div class="icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="title">
                    <h4>App Mobile</h4>
                </div>
            </div>

        </div>

    </section>

    

    <!-- SOBRE NOSOTROS -->

    <!-- <%- include('../partials/footer') -%> -->

    <script src="/js/about.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>