<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') -%>
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutUs.css">
</head>
<body class='about-Us'>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <!-- SOBRE NOSOTROS -->
    <div class="page1">
        <div class="text-log">
            <img src="/img/logo.png" alt="">
        </div>
    
        <img class="img img1" src="/img/games/battlefield.png" alt="">
        <img class="img img2" src="/img/games/cyberpunk.png" alt="">
        <img class="img img3" src="/img/games/fallguys.png" alt="">
        <img class="img img4" src="/img/games/gta (2).png" alt="">
        <img class="img img5" src="/img/games/naraka (2).png" alt="">
        <img class="img img6" src="/img/games/ninokuni.png" alt="">
        <img class="img img7" src="/img/games/thewitcher.png" alt="">

    </div>

    <div class="page2" style="color:antiquewhite" style="margin-top: 200px;" >
        <h1>HOLA</h1>
    </div>

    

    <!-- SOBRE NOSOTROS -->

    <!-- <%- include('../partials/footer') -%> -->

    <script src="/js/about.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</body>
</html>