<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Admin</title>
</head>
<body>

    <%- include('../partials/background') -%>

    <%- include('../partials/header') -%>

    <main>

        <h1>Bienvenid@ de nuevo</h1>
            <span><%- admin.userName %>!</span>

        <div class="box-container">

            <div class="box">
                <a href="/admin/products">
                    <p>Ver stock</p>
                </a>
            </div>

            <div class="box">
                <a href="/admin/products">
                    <p>Agregar productos</p>
                </a>
            </div>

        </div>

    </main>

    
</body>
</html>